// Body
$body-bg: #f8fafc;

// Typography
$font-main: 'Titillium Web', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #00528C;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$main:#00396B;
$secondary:#5A8627;
$white:#ffffff;
$black:#000000;
