// Fonts
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// New CSS

html {
    scroll-behavior: smooth;
}
body{
    font-family: $font-main;
    background: $white;
}

header{
    position: relative;
    left: 0px;
    right: 0px;
    top:0px;
    z-index: 1;
    background: #F2F3F5;
    .navbar{
        .navbar-brand{
            img{
                height: 55px;
            }
        }
        width: 100%;
        .navbar-nav{
            .nav-item{
                margin: 0px 0px 0px 20px;
                .nav-link{
                    color: $main;
                    font-size: 17px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    position: relative;
                    &.login{
                        color: $white;
                        font-size: 16px;
                        width: 125px;
                        height: 40px;
                        border-radius: 30px 0px 30px 30px;
                        text-align: center;
                        line-height: 24px;
                        box-shadow:0px 0px 15px rgb(0,0,0,0.2);
                        background: rgb(90,134,39);
                        background: linear-gradient(90deg, rgba(90,134,39,1) 0%, rgba(122,172,45,1) 100%);
                        img{
                            position: relative;
                            top: -2px;
                        }
                        &:hover{
                            background: rgb(0,57,107);
                            background: linear-gradient(90deg, rgba(0,57,107,1) 0%, rgba(0,82,140,1) 75%);
                            color: $white;
                            &::before{
                                display: none;
                            }
                        }
                    }
                    &.signup{
                        background: rgb(0,57,107);
                        background: linear-gradient(90deg, rgba(0,57,107,1) 0%, rgba(0,82,140,1) 75%);
                        font-size: 16px;
                        width: 125px;
                        height: 40px;
                        border-radius: 30px 0px 30px 30px;
                        text-align: center;
                        line-height: 24px;
                        box-shadow:0px 0px 15px rgb(0,0,0,0.2);
                        color: $white;
                        img{
                            position: relative;
                            top: -2px;
                        }
                        &:hover{
                            background: rgb(90,134,39);
                            background: linear-gradient(90deg, rgba(90,134,39,1) 0%, rgba(122,172,45,1) 100%);
                            color: $white;
                            &::before{
                                display: none;
                            }
                        }
                    }
                    &:hover{
                        color: $secondary;
                        &::before{
                            content: '';
                            position: absolute;
                            left: 0px;
                            right: 0px;
                            background: url(../../public/img/active.png) no-repeat;
                            width: 50px;
                            height: 6px;
                            margin: 0 auto;
                            bottom: 0px;
                        }
                    }
                }
                &.active{
                    .nav-link{
                        color: $secondary;
                        &::before{
                            content: '';
                            position: absolute;
                            left: 0px;
                            right: 0px;
                            background: url(../../public/img/active.png) no-repeat;
                            width: 50px;
                            height: 6px;
                            margin: 0 auto;
                            bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}

// Banner Section

.intro_banner_sec{
    background: url(../../public/img/main_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 220px 0px;
    position: relative;
    .more_btn{
        color: $main;
        font-size: 20px;
        width: 100%;
        max-width: 300px;
        height:50px;
        border-radius: 30px 0px 30px 30px;
        text-align: center;
        line-height: 46px;
        box-shadow:0px 0px 15px rgb(0,0,0,0.2);
        display: inline-block;
        font-weight: 600;
        margin-top: 40px;
        background: rgb(0,57,107);
        color: $white;
        background: linear-gradient(90deg, rgba(0,57,107,1) 0%, rgba(90,134,39,1) 100%);
        cursor: pointer;
        border:2px solid $white;
        &:hover{
            color: $white;
            text-decoration: none;
            background: linear-gradient(90deg, rgba(90,134,39,1) 0%, rgba(0,57,107,1) 100%);
        }
    }
    .right_img{
        position: relative;
        margin-top: 200px;
        .women{
            position: relative;
            left:-50px;
            top: 26px;
        }
        .men{
            position: absolute;
            right: -10px;
            top: 0px;
        }
    }
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        //background: rgba(255, 255, 255, 0.75);
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        z-index: 0;
    }
    .welcome_text{
        h2{
            margin: 0px;
            padding: 0px;
            font-weight: 600;
            font-size: 35px;
            color: $white;
        }
        h1{
            margin: 10px 0px 0px;
            padding: 0px;
            font-weight: 700;
            font-size: 55px;
            color: $white;
            text-transform: uppercase;
            span{
                color: $white;
            }
        }
    }
    .scroll_down{
        position: absolute;
        z-index: 1;
        right: 60px;
        text-align: center;
        bottom: 60px;
        span{
            display: block;
            width: 35px;
            height: 35px;
            line-height: 35px;
            border-radius: 15px 0px 15px 15px;
            transform: rotate(136deg);
            background: $white;
            cursor: pointer;
            img{
                width: 14px;
                transform: rotate(-136deg);
            }
        }
        
    }
}

// About Section

.about_sec{
    padding: 50px 0px;
    .abt_img{
        width: 100%;
        border-radius: 85px 0px 85px 85px;
    }
    h2{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        color: $main;
        margin: 0px;
    }
    h3{
        margin:0px;
        padding: 0px;
        font-weight: 700;
        font-size: 40px;
        color: $main;
        span{
            color: $secondary;
        }
    }
    p{
        font-size: 18px;
        margin: 12px 0px 0px;
        line-height: 28px;
        padding: 0px 15px 0px 0px;
    }
    .read_more{
        color: $main;
        font-size: 18px;
        width: 100%;
        max-width: 175px;
        height:46px;
        border-radius: 30px 0px 35px 35px;
        text-align: center;
        line-height: 46px;
        box-shadow:0px 0px 15px rgb(0,0,0,0.2);
        display: inline-block;
        font-weight: 600;
        margin-top: 35px;
        background: rgb(0,57,107);
        color: $white;
        background: linear-gradient(90deg, rgba(0,57,107,1) 0%, rgba(90,134,39,1) 100%);
        cursor: pointer;
        &:hover{
            color: $white;
            text-decoration: none;
            background: linear-gradient(90deg, rgba(90,134,39,1) 0%, rgba(0,57,107,1) 100%);
        }
    }
}

// Process Section

.process_sec{
    padding: 45px 0px;
    background: #FCFCFC;
    ul{
        margin: 75px 0px 0px;
        padding: 0px;
        li{
            list-style: none;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            width: 200px;
            margin-right: 100px;
            position: relative;
            &.last{
                margin-right: 0px;
                &::after{
                    display: none;
                }
            }
            h3{
                font-size: 22px;
                margin: 40px 0px 0px;
                color: $main;
                font-weight: 600;
            }
        }
    }
    .box{
        width: 165px;
        height: 165px;
        border-radius: 30px 0px;
        background: $blue;
        box-shadow:0px 0px 15px rgb(0,0,0,0.2);
        transform: rotate(45deg);
        img{
            width: 100%;
            height:85px;
            transform: rotate(-45deg);
            margin-top: 40px;
            &.step1{
                margin-top: 48px;
            }
            &.step2{
                margin-top: 46px;
            }
            &.step3{
                margin-top: 36px;
            }
        }
        &.color_green{
            background: $secondary;
        }
    }
    h2{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        color: $main;
        margin: 0px;
    }
    .heading{
        margin:0px;
        padding: 0px;
        font-weight: 700;
        font-size: 40px;
        color: $main;
        span{
            color: $secondary;
        }
    }
}

// Request Section

.request_sec{
    padding: 50px 0px;
    background: url(../../public/img/map_bg.jpg);
    position: relative;
    h2{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        color: $main;
        margin: 0px;
    }
    .heading{
        margin:0px;
        padding: 0px;
        font-weight: 700;
        font-size: 40px;
        color: $main;
        span{
            color: $secondary;
        }
    }
    P{
        font-size: 18px;
        margin: 20px 0px 0px;
        font-weight: 600;
        img{
            padding-right: 5px;
            position: relative;
            top: -2px;
        }
    }
    .request_box{
        width: 100%;
        max-width: 770px;
        border-radius: 0px 8px 0px 8px;
        border:1px dotted $secondary;
        margin: 10px auto;
        box-shadow:0px 0px 15px rgb(0,0,0,0.2);
        padding: 35px;
        position: relative;
        background: $main;
        .form-group{
            margin-bottom: 1.5rem;
            .form-control{
                height: 45px;
                border-radius: 4px;
                font-size: 16px;
            }
            textarea{
                min-height: 115px;
            }
        }
        .submit_btn{
            color: $main;
            font-size: 18px;
            width: 100%;
            max-width: 175px;
            height:46px;
            border-radius: 30px 0px 30px 30px;
            text-align: center;
            line-height: 30px;
            box-shadow:0px 0px 15px rgb(0,0,0,0.2);
            display: inline-block;
            font-weight: 600;
            margin-top: 15px;
            background: rgb(0,57,107);
            color: $white;
            background: linear-gradient(90deg, rgba(0,57,107,1) 0%, rgba(90,134,39,1) 100%);
            cursor: pointer;
            border: 2px solid $white;
            &:hover{
                color: $white;
                text-decoration: none;
                background: linear-gradient(90deg, rgba(90,134,39,1) 0%, rgba(0,57,107,1) 100%);
            }
        }
        &::before{
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            left: -5px;
            top:-5px;
            border: 5px solid $secondary;
            border-bottom: 5px solid transparent;
            border-right: 5px solid transparent;
        }
        &::after{
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            right: -5px;
            bottom:-5px;
            border: 5px solid $secondary;
            border-top: 5px solid transparent;
            border-left: 5px solid transparent;
        }
    }
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.85);
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        z-index: 0;
    }
}

// Footer Section

footer{
    background: $main;
    padding: 40px 0px;
    position: relative;
    ul{
        margin: 0px;
        padding: 0px;
        li{
            list-style: none;
            display: inline-block;
            a{
                color: $white;
                font-size: 16px;
                &:hover{
                    text-decoration: none;
                    color: $white;
                }
            }
        }
        &.links{
            li{
                margin-right: 20px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    transform: rotate(45deg);
                    background: #8FE805;
                    left: 0px;
                    top: 7px;
                }
                a{
                    padding-left: 20px;
                }
                &.icon_none{
                    margin-right: 0px;
                    margin-left: 0px;
                    a{
                        padding-left: 12px;
                    }
                    &::before{
                        display: none;
                    }
                }
            }
        }
        &.social_ul{
            li{
                margin-left: 15px;
            }
        }
    }
    hr{
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 35px;
        margin-bottom: 35px;
    }
    p{
        margin: 0px;
        color: $white;
        font-size: 16px;
        a{
            color:#8FE805;
            font-size: 16px;
            &:hover{
                color: $white;
            }
        }
    }
    .scroll{
        width: 28px;
        height: 28px;
        background: $secondary;
        display: inline-block;
        text-align: center;
        border-radius: 15px 0px 15px 15px;
        transform: rotate(-45deg);
        position: absolute;
        right: 60px;
        bottom: 35px;
        img{
            transform: rotate(45deg);  
        }
    }
}


// Model Popup CSS

.login_box{
    width: 100%;
    border-radius: 0px 8px 0px 8px;
    border:1px dotted $secondary;
    box-shadow:0px 0px 15px rgb(0,0,0,0.2);
    padding: 15px;
    position: relative;
    .form-group{
        margin-bottom: 1.2rem;
        .form-control{
            height: 45px;
            border-radius: 4px;
            font-size: 16px;
        }
        textarea{
            min-height: 115px;
        }
    }
    .submit_btn{
        color: $main;
        font-size: 18px;
        width: 100%;
        max-width: 175px;
        height:46px;
        border-radius: 30px 0px 30px 30px;
        text-align: center;
        line-height: 34px;
        box-shadow:0px 0px 15px rgb(0,0,0,0.2);
        display: inline-block;
        font-weight: 600;
        margin-top: 20px;
        background: rgb(0,57,107);
        color: $white;
        background: linear-gradient(90deg, rgba(0,57,107,1) 0%, rgba(90,134,39,1) 100%);
        cursor: pointer;
        border: none;
        margin-bottom: 20px;
        &:hover{
            color: $white;
            text-decoration: none;
            background: linear-gradient(90deg, rgba(90,134,39,1) 0%, rgba(0,57,107,1) 100%);
        }
    }
    &::before{
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        left: -5px;
        top:-5px;
        border: 5px solid #579e09;
        border-bottom: 5px solid transparent;
        border-right: 5px solid transparent;
    }
    &::after{
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        right: -5px;
        bottom:-5px;
        border: 5px solid #579e09;
        border-top: 5px solid transparent;
        border-left: 5px solid transparent;
    }
    .close {
        float: none;
        font-weight: 700;
        line-height: 34px;
        color: #ffffff;
        text-shadow: none;
        opacity: 1;
        width: 35px;
        height: 35px;
        background: #56822a;
        display: inline-block;
        right: 6px;
        position: absolute;
        text-align: center;
        padding: 0px !important;
        margin: 0px !important;
        top: 6px;
        font-size: 26px;
        border-radius: 4px;
        span{
            position: relative;
            top: -2px;
        }
    }
    .modal-title{
        font-weight: 600;
        font-size: 26px;
        color: $main;
    }
    ul{
        margin: 0px 0px 18px;
        padding: 0px;
        li{
            list-style: none;
            display: inline-block;
            margin-right: 20px;
            .form-check{
                label{
                    font-size: 18px;
                    padding-left: 5px;
                    position: relative;
                    top: 0px;
                }
                .form-check-input{
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
    .form-check{
        label{
            font-size: 18px;
            padding-left: 5px;
            position: relative;
            top: 0px;
        }
        .form-check-input{
            width: 18px;
            height: 18px;
        }
    }
    p{
        margin: 0px;
        font-size: 17px;
        color: $main;
        a{
            color: $secondary;
        }
    }
    .calendar{
        padding: 10px;
        border-radius: 8px;
        background: $main;
        .tavo-calendar__header{
            padding: 5px 8px;
            font-size: 18px;
            background-color:$main;
        }
        .tavo-calendar__week-names{
            font-size: 16px;
            padding: 5px 6px;
        }
        .tavo-calendar__info{
            span{
                font-size: 16px;
                padding: 0px 10px;
            }
        }
        .tavo-calendar__days{
            margin-top: 15px;
        }
        .tavo-calendar__day{
            span{
                width: 35px;
                height: 35px;
                line-height: 35px;
                font-size: 16px;
                margin: 0px 0px;
                color: $white;
                &:hover{
                    background-color:$secondary;
                }
            }
        }
        .tavo-calendar__day_select{
            span{
                background-color:$secondary;
            }
        }
        .tavo-calendar__day_range-select{
            background-color:$secondary;
        }
        .tavo-calendar__day_abs-today{
            background-color:$secondary;
        }
        .tavo-calendar__code_lock{
            opacity: 1;
        }
    }
    .invite_btn{
        color: $main;
        font-size: 18px;
        width: 100%;
        max-width: 175px;
        height:46px;
        border-radius: 30px 0px 30px 30px;
        text-align: center;
        line-height: 46px;
        box-shadow:0px 0px 15px rgb(0,0,0,0.2);
        display: inline-block;
        font-weight: 600;
        margin-top: 20px;
        background: rgb(0,57,107);
        color: $white;
        background: linear-gradient(90deg, rgba(0,57,107,1) 0%, rgba(90,134,39,1) 100%);
        cursor: pointer;
        border: none;
        &:hover{
            color: $white;
            text-decoration: none;
            background: linear-gradient(90deg, rgba(90,134,39,1) 0%, rgba(0,57,107,1) 100%);
        }
    }
}
.modal-dialog{
    max-width: 650px;
    .modal-header{
        margin: 0px 15px;
        padding: 1rem 0rem;
    }
}

.navbar-toggler{
    background: rgb(0,57,107);
    color: $white;
    background: linear-gradient(90deg, rgba(0,57,107,1) 0%, rgba(90,134,39,1) 100%);
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background: url(../../public/img/menu.svg) no-repeat;
        width: 20px;
        height: 20px;
        top: 8px;
        left: 14px;
        background-size: 25px;
    }
}

// Inner Page CSS

.inner_banner_sec{
    padding: 60px 0px;
    background-size: 45%;
    background-color: #041531;
    .welcome_text{
        h1{
            font-size: 40px;
        }
    }
}

.dashboard_sec{
    padding: 45px 0px;
    .sub_heading{
        color: $main;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .container-fluid{
        padding: 0px 100px;
    }
    .search_sec{
        position: relative;
        margin-bottom: 45px;
        padding: 20px 20px;
        background: url(../../public/img/map_bg.jpg);
        border-radius: 8px;
        iframe{
            border-radius: 8px;
            min-height: 460px;
            opacity: 0.2;
        }
        .search_box{
            width: 100%;
            max-width: 430px;
            padding: 10px 20px;
            border-radius: 15px 0px 15px 15px;
            background: $main;
            position: relative;
            h2{
                margin: 0px;
                color: $white;
                font-weight: 600;
                margin-bottom: 20px;
            }
            .form-group{
                .form-control{
                    height: 45px;
                    font-size: 16px;
                }
            }
            .search_btn{
                color: $main;
                font-size: 18px;
                width: 100%;
                max-width: 175px;
                height:46px;
                border-radius: 30px 0px 30px 30px;
                text-align: center;
                line-height: 34px;
                box-shadow:0px 0px 15px rgb(0,0,0,0.2);
                display: inline-block;
                font-weight: 600;
                margin-top: 20px;
                background: rgb(0,57,107);
                color: $white;
                background: linear-gradient(90deg, rgba(0,57,107,1) 0%, rgba(90,134,39,1) 100%);
                cursor: pointer;
                border: none;
                margin-bottom: 20px;
                border:2px solid $white;
                &:hover{
                    color: $white;
                    text-decoration: none;
                    background: linear-gradient(90deg, rgba(90,134,39,1) 0%, rgba(0,57,107,1) 100%);
                }
            }
        }
        .calendar_box{
            width: 100%;
            max-width: 100%;
            padding: 27px 20px;
            border-radius: 15px 0px 15px 15px;
            background: $main;
            position: relative;
        }
        .evo-calendar{
            margin-top: 45px !important;
            .calendar-sidebar{
                background-color:$main;
                .month-list{
                    .calendar-months{
                        .month{
                            &.active-month{
                                background-color: $secondary;
                            }
                        }
                        li{
                            &:hover{
                                background-color: $secondary;
                            }
                        }
                    }
                }
                span#sidebarToggler{
                    background-color: $secondary;
                    height: 45px;
                }
            }
            #eventListToggler{
                background-color: $secondary;
            }
            th[colspan="7"]{
                color:$main;
            }
        }
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.85);
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            z-index: 0;
        }
    }
    .calendar{
        border: 1px solid #efefef;
        padding: 10px;
        border-radius: 8px;
        .tavo-calendar__header{
            padding: 5px 8px;
            font-size: 18px;
            background-color:$main;
        }
        .tavo-calendar__week-names{
            font-size: 16px;
            padding: 5px 6px;
        }
        .tavo-calendar__info{
            span{
                font-size: 16px;
                padding: 0px 10px;
            }
        }
        .tavo-calendar__days{
            margin-top: 15px;
        }
        .tavo-calendar__day{
            span{
                width: 35px;
                height: 35px;
                line-height: 35px;
                font-size: 16px;
                margin: 0px 0px;
                color: $white;
                &:hover{
                    background-color:$secondary;
                }
            }
        }
        .tavo-calendar__day_select{
            span{
                background-color:$secondary;
            }
        }
        .tavo-calendar__day_range-select{
            background-color:$secondary;
        }
        .tavo-calendar__day_abs-today{
            background-color:$secondary;
        }
        .tavo-calendar__code_lock{
            opacity: 1;
        }
    }
    .table{
        font-size: 16px;
        .invite_btn{
            color: $main;
            font-size: 16px;
            width: 100%;
            max-width: 175px;
            height:35px;
            border-radius: 5px;
            text-align: center;
            line-height: 35px;
            box-shadow:0px 0px 15px rgb(0,0,0,0.2);
            display: inline-block;
            font-weight: 600;
            background: rgb(0,57,107);
            color: $white;
            background: linear-gradient(90deg, rgba(0,57,107,1) 0%, rgba(90,134,39,1) 100%);
            cursor: pointer;
            border: none;
            &:hover{
                text-decoration: none;
            }
        }
        .actions_btn{
            @extend .invite_btn;
            max-width: 40px;
            img{
                width: 20px;
                height: 20px;
                position: relative;
                top: -2px;;
            }
        }
        .invite_actions_btn{
            @extend .actions_btn;
            max-width: 70px;
        }
        .thead-dark{
            th{
                background-color: $main;
                border-color: transparent;
                font-size: 16px;
            }
        }
        tbody{
            border: 1px solid #eee;
        }
        td{
            vertical-align: middle;
        }
        th{
            vertical-align: middle;
        }
    }
    .nav-tabs{
        border-bottom:none;
        margin-bottom: 25px;
        .nav-link{
            font-size: 18px;
            border: 4px solid transparent;
            &.active{
                color: $main;
                background-color: #ffffff;
                border-color: #ffffff #ffffff #00396b;
            }
        }
    }
    .tab-content{
        .patient_form{
            .form-group{
                .form-control{
                    height: 45px;
                    border: 1px solid #eaeaea;
                    font-style: 16px;
                }
                textarea{
                    min-height: 100px;
                }
            }
            .input-group{
                .form-control{
                    height: 45px;
                    border: 1px solid #eaeaea;
                    padding: 10px;
                    font-style: 16px;
                }
                .input-group-btn{
                    input{
                        height: 45px;
                    }
                }
            }
            .submit_btn{
                color: $main;
                font-size: 18px;
                width: 100%;
                max-width: 175px;
                height:46px;
                border-radius: 30px 0px 30px 30px;
                text-align: center;
                line-height: 34px;
                box-shadow:0px 0px 15px rgb(0,0,0,0.2);
                display: inline-block;
                font-weight: 600;
                margin-top: 15px;
                background: rgb(0,57,107);
                color: $white;
                background: linear-gradient(90deg, rgba(0,57,107,1) 0%, rgba(90,134,39,1) 100%);
                cursor: pointer;
                border: none;
                margin-bottom: 30px;
                &:hover{
                    color: $white;
                    text-decoration: none;
                    background: linear-gradient(90deg, rgba(90,134,39,1) 0%, rgba(0,57,107,1) 100%);
                }
            }
        }
    }
}


.messaging img {
	max-width: 100%;
    border-radius: 50%;
}
.inbox_people {
	background: #fff none repeat scroll 0 0;
	float: left;
	overflow: hidden;
	width: 40%;
}
.inbox_msg {
	border: 1px solid #ececec;
	clear: both;
	overflow: hidden;
	border-radius: 8px;
}
.top_spac {
	margin: 20px 0 0;
}
.srch_bar input::placeholder {
	color: $white;
	opacity: 1;
}
.srch_bar input:-ms-input-placeholder {
	color: $white;
}
.srch_bar input::-ms-input-placeholder {
	color: $white;
}
.recent_heading {
	float: left;
	width: 40%;
}
.srch_bar {
	display: inline-block;
	text-align: right;
	width: 60%;
}
.headind_srch {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
	background: $main;
}
.recent_heading h4 {
	color: $white;
	font-size: 21px;
	margin: auto;
}
.srch_bar{
    input{
        border: 1px solid #cdcdcd;
        border-width: 0 0 1px 0;
        width: 80%;
        padding: 2px 0 4px 6px;
        background: none;
    }
    .input-group-addon{
        margin: 0 0 0 -27px;
        button{
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            padding: 0;
            color: #707070;
            font-size: 18px;
        }
    }
}
.chat_ib{
    h5{
        font-size: 15px;
        color: #464646;
        margin: 0 0 8px 0;
        span{
            font-size: 13px;
	        float: right;
        }
    }
    p{
        font-size: 14px;
        color: #989898;
        margin: auto;
    }
}

.chat_img {
	float: left;
	width: 11%;
}
.chat_ib {
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
}
.chat_people {
	overflow: hidden;
	clear: both;
}
.chat_list {
	border-bottom: 1px solid #f3f2f2;
	margin: 0;
	padding: 18px 16px 10px;
}
.inbox_chat {
	height: 550px;
	overflow-y: scroll;
}
.active_chat {
	background: #f1f1f1;
}
.incoming_msg_img {
	display: inline-block;
	width: 6%;
}
.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}
.received_withd_msg p {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 3px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}
.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}
.received_withd_msg {
	width: 75%;
}
.mesgs {
	float: left;
	padding: 30px 15px 0 25px;
	width: 60%;
}
.sent_msg p {
	background: #00396b none repeat scroll 0 0;
	border-radius: 3px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
	width: 100%;
}
.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}
.outgoing_msg .incoming_msg_img{
    float: right;
    margin-left: 15px;
}
.sent_msg {
	float: right;
	width: 75%;
}
.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
}
.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;
}
.msg_send_btn {
	background: #00396b none repeat scroll 0 0;
	border: medium none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 33px;
}
.msg_send_btn img{
    border-radius: 0px;
    position: relative;
    left: -2px;
}
.messaging {
	padding: 0 0 50px 0;
}
.msg_history {
	height: 516px;
	overflow-y: auto;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #e4e4e4;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:$secondary;
}


// Responsive CSS

@media (max-width:768px){
    header{
        .navbar{
            .navbar-nav{
                margin-top:20px;
                .nav-item{
                    .nav-link{
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .about_sec{
        .abt_img{
            margin-bottom: 25px;
        }
    }
    .process_sec{
        ul{
            text-align: center;
            li{
                margin-right: 0px;
                margin-bottom: 50px;
            }
        }
    }
    .request_sec{
        .request_box{
            margin-top: 25px;
        }
    }
    .dashboard_sec{
        .container{
            .col-md-12{
                overflow-x: auto;
            }
        }
    }
    .dashboard_sec{
        .search_sec{
            .search_box{
                margin-bottom: 20px;
            }
        }
    }
    .inner_banner_sec {
        background-size: 70%;
        background-position: right;
    }
}

@media (min-width:769px) and (max-width:993px){
    header{
        .navbar{
            .navbar-nav{
                margin-top:20px;
                .nav-item{
                    .nav-link{
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .inner_banner_sec {
        background-size: 70%;
        background-position: right;
    }
}