.topHomeContainerAbout{
    height: 300px;
}

.br-slide1 > h2{
    font-family: 'DubaiBold' !important;
    margin: 0px;
    color:white;
    font-weight: 700;
    font-size: 3.5rem;
}

.ab_subtitleContainer{
    padding: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.ab_subtitleContainer > h5{
    padding-top: 20px;
    font-weight: bold;
    color: #20215E;
    text-align: center;
}

.ab_subtitleContainer > h2{
    font-family: 'DubaiBold' !important;
    text-align: center;
    text-shadow: 0px 11px 15px rgb(144 170 184 / 14%);
    color: #20215E;
    font-weight: 700;
    font-size: 2.5rem;
}

.ab-topcard-container{
    background: #20215E;
    padding: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    gap:10px;
    justify-content: center;
}

.item11{
    border-radius: 10px;
    border: 1px solid white;
    height: auto;
    min-height: 200px;
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    padding: 0px 26px;
    /* width: 23%; */
}
.item11 div p{
    color: white;
    font-size: .7rem;
    text-align: center;
}

.why{
    flex:1;
    flex-direction: column;
    display: flex;
    padding: 20px 0px;
    align-items: center;
}
.why p{
    color: white;
    font-size: 2rem;
    font-family: DubaiBold !important;
}
.why img{width: 200px;}
.left-icon,.right-icon{
    flex:1;
    padding: 10px 0px;
}
.left-icon img,.right-icon img{
    width: 50px;
    height: 30px;
}

.n-top-container{
    flex: 1;
    margin-bottom: -40px;
    padding-bottom: 10px;
}

.ab-menuTitle{
    color: #20215E;
    font-family: 'DubaiBold' !important;
    font-size: 2.4rem;
}

.ab-menuSecondTitl{
    color: #20215E;
    font-size: 1rem;
    font-family: DubaiMedium !important;
}

.ab-menulisting{
    font-size: .9rem;
    color: #20215E;
    margin-left: 10px;
    font-family: DubaiMedium !important;
}

.btabDesing{
    background-color: #20215E;
}

.ab-mainContainer{
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
}

.medical{
    padding-left: 30px !important;
}

.n_wraper-container{
    margin-bottom: -30px;
}

.aboutContentSection{
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

@media only screen and (max-width: 700px) {
    .aboutContentSection{
        padding-bottom: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .ab-mainContainer{
        justify-content: center;
        flex-direction: row;
        margin-top: 0px;
    }
    .n_wraper-container{
        margin-bottom: 0px;
    }
    .medical{
        padding-left: 0px !important;
    }
    .item11{
      width: 90%;
    }
    .ab_subtitleContainer{
        padding: 60px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
    }

    .br-slide1 > h2 {
        font-size: 2.2rem;
        text-align: center;
    }
}


.about_new_section_11{
    display: flex;
    flex-direction: row;
    background-color: #20215E;
    margin-top: 30px;
}

.about_new_section_11 > .first {
    background-color: white;
    width: 41%;
    padding: 50px 30px 40px 65px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 100;
    margin-bottom: 40px;
}

.about_new_section_11 > .second {
  width: 28%;
}

.about_new_section_11 > .third {
  background-color: white;
  width: 41%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 50px 60px 40px 30px;
  z-index: 100;
  margin-bottom: 40px;
}

@media only screen and (max-width: 750px) {
    .about_new_section_11{
        display: flex;
        flex-direction: column;
    }

    .about_new_section_11 > .first{
        width: 100%;
        border-radius: 0px;
    }
    .about_new_section_11 > .second{
       display: none;
    }
    .about_new_section_11 > .third{
        width: 100%;
        border-radius: 0px;
        padding-top: 20px;
    }
}











