/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.cursor-pointer{
    cursor: pointer;
}
i,
span {
    display: inline-block;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #526082;
    color: #fff;
    transition: all 0.3s;
}
#sidebar a{
color: #fff;
}
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}
#sidebar ul li a {
    text-align: left;
    border-bottom: 1px solid #6e708c;
}
#sidebar.active ul li a {
    padding: 15px 6px;
    text-align: center;
    font-size: 0.68em;
}
#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}
#sidebar.active ul ul a {
    padding: 10px !important;
}
#sidebar.active span.badge{
    display: none;
}
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
#sidebar .sidebar-header {
    padding: 8px 10px;
    /*border-bottom: 1px solid #35344d;*/
   background: #fafafa; 
}
#sidebar.active .sidebar-header{
    padding:7px;
}
#sidebar .sidebar-header img{
    width:136px;
}
#sidebar .sidebar-header strong img{
    width:50px;
}
#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}
#sidebar ul.components {
    /*padding: 5px 0;*/
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    white-space:normal;
    display: block;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #141a45;
}
#sidebar ul li a i {
    margin-right: 10px;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #ffffff;
    background: #141a45;
}
.admindropdow ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: none;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.nav-item ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #69483d;
}
.nav-item ul .nav-item{
    border-bottom: #583a2f  ;
}

#sidebar .nav-item ul li a.actve,#sidebar .nav-item ul li a:hover{
    background-color: #141a45;
}
ul.CTAs {
    padding: 20px;
}
ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
#sidebar a.signout {
    background: #434263;
    color: #c83232;
    font-size:1.1em!important;
    text-align: center;
    border:1px solid #c83232;
}
a.article,
a.article:hover {
    background: #434263 !important;
    color: #fff !important;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
#sidebarCollapse {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    color: #ffffff;
    background: #526082;
}
#sidebarCollapse:hover{
    background: #141a45;
}
#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #fafafa;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}
#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}
/*-----------------------------------------------------------------------------------------*/
.navbar-tunedin{
    background: #fff;
    border-bottom: 1px solid #F2F3F5;
    margin-bottom: 25px;
    box-shadow: 10px 0px 12px #eaeaea;
}
.navbar-tunedin a,.navbar-tunedin a:hover{
    color:#00528c;
}
.navbar-tunedin .dropdown-toggle::after{
    right:0;
}
.navbar-tunedin li{
    position: relative;
    align-self: center;
} 
.navbar-tunedin a.dropdown-item {
    color:#495057;
}
.navbar-tunedin .navbar-right li{
    padding-left: 20px;
}
.navbar-tunedin .navbar-right li .header-power-off-link{
    color: #fff;
    background: #141a45;
    font-size: 16px;
    border-radius: 25px;
    padding: 6px 11px;
}
.navbar-tunedin .navbar-right li .nav-right-signout-icon{
    font-size: 20px;
}
.navbar-tunedin .navbar-right li .header-power-off-link:hover{
    color: #fff;
}
.navbar-tunedin h3{
    margin: 0px;
}
.navbar-tunedin h3 img{
    width: 100% !important;
    max-width: 210px;
}
main{
    padding: 10px;
}
.col-md-12 .card .card-header span{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #3490dc;
}
#footer{
    background: #141a45;
    padding: 20px 0;
    color: #fff;
    font-size: 14px;
}
#footer .copyright {
    color: #fff;
    font-size: 16px;
}
.social_links {
    margin: 0px;
    padding: 0px;
}
.social_links li {
    display: inline-block;
    margin: 0px 4px;
    list-style: none;
}
.social_links li a{
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background: #fff;
    text-align: center;
    line-height: 28px;
    display: inline-block;
}
/*-------------------  Edit Parent  ---------------------------*/
.profile-edit-sub-h{
    font-weight: 600;
}
.strong-m{
    font-weight: 600;
}
.profile-edit-avatar{
    width: 125px;
}
.profile-edit-avatar img{
    width:125px;
    border-radius:50px;
}
#profile-edit-nickName{
    font-weight: 600;
}
.parent-profile-main .col-md-4 label, .parent-profile-main .col-form-label{
    font-weight: 600;
}
a.profile-connect-fb-btn{
    background: #ff5722;
    color:#fff;
    padding: 10px 20px;
    font-size: 16px;
    border-color:#e84917;
    box-shadow: 0 4px 10px #e84917;
}
a.profile-connect-fb-btn:hover{
    text-decoration: none;
    color:#fff;
}
.parent-avatar-block img{
    max-width: 140px;
}
/*-------------------  Edit Parent  ---------------------------*/
/*--- INPUT DATE AND TIME CSS---*/
input[type="date"],input[type="time"] {
    position: relative;
}
/* create a new arrow, because we are going to mess up the native one
see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
input[type="date"]:after,input[type="time"]:after {
    content: "\25BC"; 
    color: #555;
    padding: 0 5px;
}
/* change color of symbol on hover */
input[type="date"]:hover:after,input[type="time"]:hover:after {
    color: #bf1400;
}
/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator,input[type="time"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}
/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button,input[type="time"]::-webkit-inner-spin-button {
    z-index: 1;
}
 /* adjust clear button */
 input[type="date"]::-webkit-clear-button,input[type="time"]::-webkit-clear-button {
     z-index: 1;
 }
 .selectize-dropdown-content .option,.form-check-label{
    cursor:pointer;
 }
/*--- INPUT DATE AND TIME CSS---*/
/*--- View teacher Page CSS---*/
.view-teacher-info ul{
    list-style-type: none;
}
.view-teacher-info ul li{
    padding-bottom:10px;
}
.view-teacher-info strong{
    display: inline-block;
    color:#212529;
    font-weight: 700;
    width:100%;
}
.view-teacher-info p{
    color:#212529;
}
/*--- END View teacher Page CSS---*/
.class-details-view .col-md-8 p{
    margin-bottom:8px;
}
.theme-icon-color{
    color:#c83232;
}
i.fa.theme-icon-color{
    min-width:20px;
    text-align: center;
}
.card-body p{
    color: #444;
    margin-bottom: 9px;
}
.card-body strong{
    font-weight: 700;
}

.ck-content.ck-editor__editable_inline{
    min-height: 300px;
}
@media (min-width: 576px)
{ 
.modal-dialog.madal-lg {
    max-width: 800px;
}
}
.press-release-img-item{
position: absolute;
    right: 20px;
    border-radius: 13px;
    top: 5px;
    font-size: 18px;
    overflow: hidden;
}

.btn.btn-primary{
    background-color: #141a45;
    border: 1px solid #141a45;
    border-radius: 30px;
    padding: 6px 25px;
}
.btn.btn-primary:hover,.btn.btn-primary:active,.btn.btn-primary:focus{
    background-color: #526082;
    border:1px solid #526082;
}

.doctorfile span{color: #000000;
    margin-right: 10px;
	font-weight: 500;}
	
.doctorfile	p{color: #000000;}

.profile_update_img	img{width: 6%;
    border-radius: 25px;
	}
.cv a{color: #00528c;
    font-weight: 500;}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #526082;
    border-color: #526082;
}
.table a i{
    color: #141a45 !important;
}

/*New CSS on 03-09-2021*/

.validate{
    padding: 8px 10px !important;
    border-radius: 30px !important;
    position: relative;
    top: -5px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    background: #141a45 !important;
    display: inline-block;
}
.validate:hover{
    background: #526082 !important;
}
@media (min-width: 1200px) and (max-width: 1460px){
    .validate {
        padding: 8px 10px !important;
        font-size: 11px;
    }
}
.bg-primary {
    background-color: #141a45 !important;
}
.dashboard .bg-primary {
    background-color: #526082 !important;
}
.addpatient_btn{
    background: linear-gradient(90deg, #141a45 0%, #526082 100%) !important;
    border-radius: 30px 30px 30px 30px !important;
    border: none;
}
.invoicebody table .heading{
    background: #020963 !important;
}