.dashboardContainer{
   flex: 1;
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   padding: 20px 30px;   
   margin-top:20px; 
   border-radius: 10px;
}

.cardLink{
    text-decoration : none !important;
}

.cardLink:hover{
    text-decoration: none !important;
    cursor: pointer;
}

.cardDesign{
    width: 100%;
    height: 100px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    border:2px #20215E solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cardDesign > div{
    display: flex;
    justify-content: space-between;
}

.cardDesign > div > .circle{
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid #20215E;
}

.cardDesign:hover{
    border-right:5px #20215E solid;
    text-decoration: none !important;
}


.cardDesign > h4{
    margin-bottom: 0px;
    text-align: center;
    text-decoration: none;
}


.cardDesignBlue{
    width: 100%;
    height: 100px;
    background-color: #20215E;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cardDesignBlue:hover{
    outline-style: double;
}

.cardDesignBlue > div{
    display: flex;
    justify-content: space-between;
}

.cardDesignBlue > div > .circle{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid white;
}

.cardDesignBlue:hover{
    border-right:5px #20215E solid;
    text-decoration: none;
}

.cardDesignBlue > h4{
    margin-bottom: 0px;
    text-align: center;
    text-decoration: none;
    color:white;
}


/* ************** Add and Edit Doctor Start ********************** */
.clinicLabel{
    font-weight: bold !important;
    color: #20215E !important;
    padding-left: 10px;
}

.clinicInput{
   border-radius: 25px !important;
   height: 42px !important;
   border-color: #52608299 !important;
}

.clinicErrorMsg{
    color: #D2042D;
    padding-left: 10px;
    display: none;
}
/* ************** Add and Edit Doctor End   ********************** */


/* ############################ Doctor profile start ################### */
.tabsShawo{
    padding-top: 11px !important;
    padding-bottom: 11px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.nav-pills-custom .nav-link {
    color: #20215E !important;
    background: #fff !important;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: white !important;
    background: #20215E !important;
}


.select2-container .select2-selection--multiple {
    min-height: 80px !important;
    border-radius: 20px !important;
    max-height: 580px !important;
    padding: 4px !important;
    width: 100%;
}
.select2-selection__arrow {
    min-height: 80px !important;
    max-height: 580px !important;
}




/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #20215E !important;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}
/* ############################ Doctor profile end ##################### */

.trac_container{
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}

#traceability_id{
    color: #468499;
    border: 1px solid #468499;
    padding: 6px 18px;
    border-radius: 10px;
    font-weight: bold;
}

#traceability_id:hover{
    text-decoration: none;
    background-color: #468499;
    color: white;
    cursor: pointer;
}

.nothingTxt{
    color:#20215E;
    text-align: center;
    padding-top: 120px;
}


.dtable > tbody > tr > th{
    font-weight: bold !important;
    color: #20215E;
    font-size: 15px;
}

.dtable > tbody > tr > th{
    font-size: 15px;
}


.error{color:red !important;}
.upload_doc_btn {
     margin-bottom: 0px; 
}
.patient_details_box ul li{
	margin-bottom: 0px; 
}
.last_li{
	border: none !important;
    background: none !important;
    padding: 10px 0px !important;
}


.error{color:red !important;}
input.checkBoxClass {
    margin-right: 7px;
}
.docter_list p:hover{background: linear-gradient(
90deg
, #5a8627 0%, #7aac2d 100%);}
.acceptscss p:hover{background:none;}
.rjtscss p:hover{background:none;}

.inv-content-header {
    border-bottom-right-radius: 20px;
    font-size: 24px !important;
    background: transparent !important;
    font-weight: 700;
    color: #526082 !important;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
}

.inv-content-header::before,
.inv-content-header::after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
}

.invitation-tabs{
	min-height: 450px;
}
.act_btn{
    padding: 3px 20px;
    border-radius: 30px;
    border: 1px solid #526082;
    color: #526082;
    font-weight: bold;
    background: white;
}

.tabsss{
	border-radius: 50px !important;
}

#myTab > li{
	background: white !important;
}

.act_btn:hover{
    color:white;
    border:none;
    background: linear-gradient(229.2deg, #526082 26.84%, rgba(71, 90, 160, 0.51) 84.96%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: normal;
}
.invitation-tabs .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom:0;
    border-right: 1px solid #ddd;
    padding-right: 15px;
}
.invitation-tabs .nav-tabs .nav-link {
    background: #526082;
	color:#fff;
}
.invitation-tabs .nav-tabs .nav-item {
	width: 220px;
	margin-bottom: 2px;
}
.invitation-tabs .tab-content>.active {
    display: block;
	font-weight: 600;
    min-height: 165px;
}

.tabsss.active{
	border-color: #ffffff #ffffff #ffffff #00518b;
    background-color: white !important;
    border: 2px solid #0e2f44 !important;
    border-left-width: 10px !important;
}

.invitation-tabs .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 15px;
}
hr{
	height: 1px;
    background: #00518b;
}
.invitation-tabs {
    min-height: 310px;
}
.patient_details_box .invitation-tabs ul li{
	padding: 0px;
	border: none;
}
#billamt-error{
	position: absolute;
    top: 88%;
}
.virtualbold b{
	font-size: 16px;
    color: #0e3358;
    font-weight: 600;
}
.animationsssss{
position: absolute;
width: 100%;
height: 100%;
background: #0009;
z-index: 1000;
top: 0;
bottom: 0;
overflow-y: hidden;
display: flex;
justify-content: center;
}