@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');


.icon:hover{opacity: .7}
.logo{flex: 1;margin-left: 50px;color: #eee;font-size: 20px;font-family: monospace}
.notifications{
    width: 330px;height: 0px;opacity: 0;
    position: absolute;top: 63px;
    right: -15px;
    border-radius: 5px 0px 5px 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.notifications h2{font-size: 14px;padding: 10px;border-bottom: 1px solid #eee;color: #999}
.notifications h2 span{color: #f00}
.notifications-item{border-bottom: 1px solid #eee;padding: 6px 9px;margin-bottom: 0px;cursor: pointer}
.notifications-item:hover{background-color: #eee}
.notifications-item img{display: block;width: 50px;height: 50px;margin-right: 9px;border-radius: 50%;margin-top: 2px}
.notifications-item .text h4{color: #777;font-size: 16px;margin-top: 3px}
.notifications-item .text p{color: #aaa;font-size: 12px}

.notifications_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

#closenotification:hover{
    cursor: pointer;
}

.selectize-dropdown [data-selectable].option{
    color:#292929 !important;
}

.manualboxdesi > button{
    background-color: #75A157;
    width: 76px;
    height: 48px;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 6px;
 }
 
 .manualboxdesi{
     justify-content: center;
     display: flex;
     gap: 30px;
     padding: 60px 0px;
 }

/* nofification ------------------------------------------------------------------ */
.login_box .form-group .form-control {
    height: auto;
}

.login_box11::before{
width:0px;
height:0px;
border:none
}

.login_box11::after{
width:0px;
height:0px;
border:none
}

.login_box11{
border:18px solid #6978a3;
border-radius:10px;
}

.login_box22::before{
width:0px;
height:0px;
border:none
}

.login_box22::after{
width:0px;
height:0px;
border:none
}

.login_box22{
border-left:10px solid #515C84;
border-radius:8px;
padding: 0px !important;
}

.close11btn{
top: -15px !important;
right: -22px !important;
height: 43px !important;
width: 48px !important;
background: #515C84 !important;
}

@media screen and (min-width: 768px) {

.closebutton{
width:75px !important;
height:50px !important;
background-color: #151948 !important;
position:absolute !important;
right:-75px !important;
top:-2px !important;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
text-align: center;
padding-right: 10px;
}

}


@media only screen and (max-width: 480px) {
.close11btn{
top: 5px !important;
right: 2px !important;
height: 35px !important;
width: 35px !important;
background: #515C84 !important;
}

.notifications{
    height: auto;
    opacity: 1;
    margin: 0px auto;
    top: 90px;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
}

}

@media screen and (max-width: 768px) {
.closebutton{
width:45px !important;
height:45px !important;
background-color: #151948 !important;
position:absolute !important;
right:7px !important;
top:5px !important;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-radius: 10px;
overflow: hidden;
padding-left: 3px
}
}

.closebutton11{
height:40px;
position:absolute;
width:40px;
background-color:#151948;
border:none;
outline:none;
top: 50%;
transform: translateY(-50%);

}

.closebutton:hover{
background-color: #151948 !important;
}
.inputContainer11{
height:46px;
width:450px;
border:1px solid #526181;
display:flex;
border-radius:30px;
overflow:hidden;
}
.iconContainer{
width:70px;
height:46px;
background-color:#526181;
position: relative; 
}
.iconCss{
position:absolute;
top:50%;
transform: translateY(-50%);
left:15px;
}
.inputSt{
width:100%;
border:none;
outline:none;
padding-left:10px;
padding-right:10px;
}
.loginTitle{
font-weight:bold;
color:#151948;
margin-left:-46px;
margin-bottom:-40px;
font-size:3.5rem;
}
.checkboxsi{
font-size:1rem !important;
}

.bubble {
position: relative;
width: 120px;
height: 80px;
background: #32557f;
border-radius: 10px;
}

.pac-container {
z-index: 10000 !important;
}

.pac-container:after{
content:none !important;
}

.close11btn:hover{
background-color: #515C84 !important;
opacity: 1;
}

.inputContainer{
height: 40px;
width:100%;
background: white;
border: 1px solid #515C84;
padding-left: 8px;
padding-right: 8px;
display: flex;
align-items: center;
margin-top: 12px;
border-radius: 20px;
overflow: hidden;
}

.inputStyle{
height: 100%;
width: 100%;
border: none;
padding-left: 5px;
color: #000000;
}

.signupBtn
{
width: 250px;
height: 50px;
border-radius: 25px;
border: none;
background: linear-gradient(229.2deg, #20215E 26.84%, rgba(71, 90, 160, 0.51) 84.96%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
box-sizing: border-box;
color: white;
font-size: 20px;
margin-left: auto;
margin-right: auto;
}

.signupBtn:hover
{
background: linear-gradient(229.2deg,rgba(71, 90, 160, 0.51)  26.84%, #20215E 84.96%);
}

.activeTab{
width: 120px;
height: 45px;
background: #20215E;
border: none;
color: white;
font-size: 18px;
}

.inactiveTab{
width: 120px;
height: 45px;
background: #FFFFFF;
border: 1px solid #20215E;
font-size: 18px;
color: #20215E;
}



.errorMsg{
padding-left: 8px; color:red; font-size:13px;display: none;
}

.addP_inc{
    border:1px solid #515C84 !important;
    height: 40px !important;
    border-radius: 20px !important;
}

.submit_btn22{
 margin:0px !important;
 margin-left: auto !important;
 margin-right: auto !important;
 height: 46px !important;
 background: linear-gradient(246.33deg, #20215E 34.76%, rgba(136, 144, 185, 0.59) 70.87%) !important;
 border-radius: 30px !important;
 width:250px !important;
 max-width:250px !important;
}

.addPatentMod{
    border-radius: 10px !important;
    padding: 0px !important;
}

.addPatentMod::before{
    width:0px !important;
    height:0px !important;
    border:none !important;
}
    
.addPatentMod::after{
    width:0px !important;
    height:0px !important;
    border:none !important;
}

.deletecropimga:hover{
    cursor: pointer;
}

.uploadbtn{
    border: none;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    border-radius: 2px;
    padding: 3px 20px;
    margin-left: 5px;
    margin-top: 0px;
    background: lightgrey;
}

.profileiamgecls{
    width: 120px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

.addTitle{
   margin: 0px !important;
   padding: 0px !important;
   background: #515C84;
   border-radius: 0px 0px 100px 0px;
   width: 258px;
   height: 47px;
   color:white !important;
   font-size: 22px !important;
   font-weight: 700 !important;
   text-align: center !important;
   line-height: 47px !important;
   border-top-left-radius: 10px !important;
}

.close1122{
    width: 40px !important;
    height: 40px !important;
    position: absolute !important;
    top: -14px !important;
    right: -13px !important;
}

.invitation-tabs{
    min-height: 360px !important;
}

.doctor_activit_tab_icon{
color: #fff;
font-size: 24px;
vertical-align: text-top;
padding-right: 5px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif !important;
}

label,input,button,p,a{
font-family: 'Montserrat', sans-serif !important;
}



/* ****************** OTP New Design Start ********************* */
.optInputBox{
    width: 46px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid lightgray;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
    color: #707070;
}

.optInputBox:focus {
    outline: none !important;
    border:1px solid #323B62;
  }

.digit_groupss{
    display: flex;
    justify-content: center;
    gap: 12px;
}
/* ****************** OTP New Design End ********************* */

.contactFormError{
    color: red;
    padding-left: 5px;
    display: none;
}

.fdfdf:hover{
    cursor: pointer;
}


.lawyerChagnePass{
    border-radius: 20px !important;
    height: 42px !important;
}

.lawyerchgPassError{
    padding-left:10px;
    color:red;
    display: none;   
}

.passIcons{
    color: #515C84; 
    font-size:28px;
}

.passIcons:hover{
    cursor: pointer;
}


/* ****************** Download file desing *********************** */
.downloadForDes{
    background: #F3F2F2;
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 5px 15px;
    display:flex;
}

.downloadTitleDesign{
    background: transparent;
	border: none;
	font-weight: bold;
	color: #20215E;
    flex:1; 
    text-align: start;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding-right: 15px;
}


/* =====================  Delete popup design =================== */

.deletesbuttonDesign {
    display: flex;
    width: 67%;
    gap: 10px;
    --b: 5px;   /* the border thickness */
    --h: 1.8em; /* the height */
  }


  @media only screen and (max-width: 500px) {

    .activeTab{
        width: 80px;
        height: 35px;
        background: #20215E;
        border: none;
        color: white;
        font-size: 14px;
        }
        
    .inactiveTab{
        width: 80px;
            height: 35px;
        background: #FFFFFF;
        border: 1px solid #20215E;
        font-size: 14px;
        color: #20215E;
    }
 
    .deletesbuttonDesign {
        display: flex;
        width: 100%;
        gap: 10px;
        --b: 5px;   /* the border thickness */
        --h: 1.8em; /* the height */
      }
  }
  
  .deletesbuttonDesign button {
    --_c: 	#3BB143;
    flex: calc(1.25 + var(--_s,0));
    min-width: 0;
    font-size: 35px;
    font-weight: bold;
    height: var(--h);
    cursor: pointer;
    color: var(--_c);
    border: var(--b) solid var(--_c);
    background: 
      conic-gradient(at calc(100% - 1.3*var(--b)) 0,var(--_c) 209deg, #0000 211deg) 
      border-box;
    clip-path: polygon(0 0,100% 0,calc(100% - 0.577*var(--h)) 100%,0 100%);
    padding: 0 calc(0.288*var(--h)) 0 0;
    margin: 0 calc(-0.288*var(--h)) 0 0;
    box-sizing: border-box;
    transition: flex .4s;
  }
  .deletesbuttonDesign button + button {
    --_c: #FF003C;
    flex: calc(.75 + var(--_s,0));
    background: 
      conic-gradient(from -90deg at calc(1.3*var(--b)) 100%,var(--_c) 119deg, #0000 121deg) 
      border-box;
    clip-path: polygon(calc(0.577*var(--h)) 0,100% 0,100% 100%,0 100%);
    margin: 0 0 0 calc(-0.288*var(--h));
    padding: 0 0 0 calc(0.288*var(--h));
  }
  .deletesbuttonDesign button:focus-visible {
    outline-offset: calc(-2*var(--b));
    outline: calc(var(--b)/2) solid #000;
    background: none;
    clip-path: none;
    margin: 0;
    padding: 0;
  }
  .deletesbuttonDesign button:focus-visible + button {
    background: none;
    clip-path: none;
    margin: 0;
    padding: 0;
  }
  .deletesbuttonDesign button:has(+ button:focus-visible) {
    background: none;
    clip-path: none;
    margin: 0;
    padding: 0;
  }
  button:hover,
  button:active:not(:focus-visible) {
    --_s: .75;
  }
  button:active {
    box-shadow: inset 0 0 0 100vmax var(--_c);
    color: #fff;
  }
 
  .new_upload_btn{
    border: none; 
    color: #0e2f44; 
    font-size: 14px;
    padding: 5px 18px;
    font-size: 16px;
    cursor: pointer; 
    background-color: white;
    border: 1px solid #0e2f44 !important;
    border-radius: 50px !important;
    text-transform: none;
  }
  
  .new_upload_btn:hover{
      text-transform: none;
      text-decoration: none; 
      border-right-width: 5px !important;
      border-left-width: 5px !important;
  }
  
  .upload_icon{
      color: #0e2f44 !important;
      font-size:18px !important;
      vertical-align: text-top;
  }

  .inv-content-header {
    border-bottom-right-radius: 20px;
    font-size: 24px !important;
    background: transparent !important;
    font-weight: 700;
    color: #526082 !important;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
}

.inv-content-header::before,
.inv-content-header::after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
}