span.\`starsymbol\` {
    color: green !important;
    font-size: 22px !important;
    position: absolute;
    top: 25px;
    right: 18px;
    font-weight: 700;
}
.type-holiday{
	display:none;
}
.day.assessment-date {
    background: #ffe597;
}
/*.day.due-block-date {
    background: #eef5ff;
}*/
span.circle.circle-blocked {
    background: #fcc7c7;
}
.day.block-date {
    color: #BC0B0B !important;
    background: #FAE0E0 !important;
}

.type-birthday {
    background: red !important;
}

.type-event {
    background-color: green !important;
	display:none;
}

.past-day{
	color: #bbb !important;
}


.event-container>.event-icon>div.event-bullet-event{
	background-color: green!important;
}

/*block date B symbol */
.day.block-date span{
	position: absolute;
    font-size: 15px;
    color: red;
    font-weight: 600;
}

span.\`bsymbol\` {
	display:none;
}

#addevent_form .block-calendar-modal-btn{
	padding: 5px 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.calendar-inner .circle{
	width: 20px;
    height: 20px;
    background: green;
	vertical-align:middle;
    border-radius: 10px;
	margin-left: 10px;
	margin-right: 5px;
    display: inline-block;
}
.calendar-note p{
	margin-bottom: 0;
}
.block-circle{
    margin-left: 10px;
    color: red;
    font-weight: 600;
    font-size: 18px;
    margin-right: 3px;

}
.calendar-inner .circle.circle-red{
    background: green;
}
.calendar-inner .circle.circle-yello{
	background-color: #ffdc75;
}
.highlight-due-date a{
   background-color : #ff5722 !important;
   background-image :none !important;
   color: White !important;
}
.highlight-invite-date a{
	background-color : #ffc107 !important;
   background-image :none !important;
   color: White !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #e2e2e1;
    background: #e2e2e2;
    color: #6b6b6b;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}

.calender-note span.yellow{
	background-color : #ffc107;
}
.calender-note span.red{
	background-color : #ff5722;
}
.calender-note span{
	width: 20px;
    display: inline-block;
	border-radius: 20px;
	vertical-align: middle;
    height: 20px;
}
.calender-note p{
	margin-bottom: 8px;
	color:#444;
	font-weight: 700;
}

	
.error{color:red !important;}
input.checkBoxClass {
    margin-right: 7px;
}
.docter_list p:hover{background: linear-gradient(90deg, #5a8627 0%, #7aac2d 100%);}
.acceptscss p:hover{background:none;}
.rjtscss p:hover{background:none;}
.inv-content-header {
	padding: 10px;
    background: #041531;
    background: linear-gradient(90deg, #5a8627 0%, #7aac2d 100%);
    color: #fff;
    border-bottom-right-radius: 20px;
}
.invitation-tabs{
	min-height: 450px;
}
.invitation-tabs .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom:0;
    border-right: 1px solid #ddd;
    padding-right: 15px;
}
.invitation-tabs .nav-tabs .nav-link {
    background: #526082 !important;
	color:#fff !important;
}
.invitation-tabs .nav-tabs .nav-item {
	width: 220px;
	margin-bottom: 2px;
}
.invitation-tabs .tab-content>.active {
    display: block;
	font-weight: 600;
    min-height: 165px;
}
.invitation-tabs .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 15px;
}
.docter_list .new_btn{
	position: relative;
	display: inline-block;
	top: 0;
    right: 0;
}
.acceptscss{
	display: inline-block;
	top: 0;
    right: 0;
}
.docter_list .name{
	margin: 0px 15px 6px 0px;
	color: #00396b;
    font-weight: 600;
    margin-bottom: 6px;
}
.docter_list .profile {
    width: 100px;
    height: 100px;
    border: 1px solid #eee;
    margin-top: 5px;
}
.calendar_img{
	height: auto;
    width: 25px;
    border-radius: 0px;
    position: relative;
    top: -5px;
    left: 10px;
}
.ui-datepicker-trigger{
	border: none;
    background: #041531;
    color: #fff;
    padding: 2px 10px;
    margin-left: 15px;
    border-radius: 2px;
    position: relative;
    top: -2px;
}
#ui-datepicker-div{
	margin-top: 25px;
}
.dashboard_sec .search_sec::before{background:none;}

#mdp-demo .ui-datepicker td span, #mdp-demo .ui-datepicker td a{
	text-align: center!important;
	padding: 19% .2em!important;
}
#block-calendar-modal .ui-datepicker{
width: 100%!important;
}
#block-calendar-modal .ui-datepicker .ui-datepicker-title{
	line-height:2em;
}
.position-relative1{
	position: absolute;
    right: 0px;
    top: 0px;
}
.patient_p{
	margin: 0px;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0px;
}
.patient_p:hover{
	background: transparent !important;
}
.patient_p span{
	display: inline-block;
	color: #79ab2d;
}
.invitation-tabs .nav-tabs .nav-link.active{
	border-color: #848AA6 !important;
	background-color:#848AA6 !important;
}
.accordion .patient_details_box .invitation-tabs .nav-item a{
	padding: 0.3rem 0rem;
    text-align: center;
    font-size: 16px;
}
.invitation-tabs .nav-tabs .nav-link {
    background: #f7f7f7;
	color:#00396B;
}
/*.invitation-tabs .nav-tabs .nav-item {
	width: 171px;
	margin-bottom: 2px;
	display: inline-block;
	text-align: center;
}*/
.invitation-tabs .tab-content>.active {
    display: block;
	font-weight: 600;
    min-height: 165px;
}
/*.invitation-tabs .nav.nav-tabs {
    float: none;
    display: block;
    margin-right: 0px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 0px;
    margin-bottom: 0px;
}*/
.invitation-tabs .tab-content > .tab-pane{
	margin-top: 0px;
}
hr{
	height: 1px;
    background: #00518b;
}
.invitation-tabs {
    min-height: 410px !important;
}
.inv-content-header {
    padding: 0px 0px !important;
    background: #041531;
    background: linear-gradient(90deg, #004e86 0%, #00396b 100%);
    color: #fff;
    border-bottom-right-radius: 20px;
    font-size: 24px !important;
    background: transparent !important;
    font-weight: 700;
    margin-bottom: 20px;
    color: #141a45 !important;
}
.patient_details_box1 {
    border: 1px solid #eee;
    padding: 20px;
    box-shadow: 0px 0px 15px #f5f4f4;
    border-radius: 8px;
    margin-bottom: 15px;
}
.virtualbold b{
	font-size: 16px;
    color: #0e3358;
    font-weight: 600;
}
.accept-invitation-btn{
	background: linear-gradient(90deg, #141a45 0%, #526082 75%) !important;
}
.addpatient_btn{
	background: linear-gradient(90deg, #141a45 0%, #526082 75%) !important;
}
.reject-inv-btn{
	    background: #d61f12 !important;
}

span.duestar {
	vertical-align: middle;
    margin-left: 10px;
    color: green;
    margin-right: 5px;
    font-size: 31px;
    font-weight: 700;
	position: relative;
    top: 5px;
}
.dashboard_icon {
    height: 34px;
    position: relative;
    top: -4px;
    left: 4px;
}
.checkbox_wrapper{
	position: relative;
}
.check_box{
	width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    left: -15px;
    top: 48%;
}
@media (max-width: 768px){
	.check_box {
	    width: 15px;
	    height: 15px;
	    left: -2px;
	}
}


.design_card_new{
    width: '100%';
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 13px;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: #F3F9FF !important;
}

.n_images{
    width: 58px;
    height: 58px;
    border-radius: 10px;
}

.n_c_container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.d_name_text{
    padding-top: 2px;
    font-size: 23px;
    font-weight: bold;
    color: #323B62;
    margin: 0px;
}
.firm_name{
    margin: 0px;
    color: #B20000;
    font-size: 14px;
}

#n_desing_tbl{
    margin: 7px;
}

#n_desing_tbl td {
    padding-left: 12px;
    font-size: 14px;
    color: #000;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif !important;
}

#n_desing_tbl th{
    color: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif !important;
    color: #323B62;
}

#n_desing_tbl tr{
   line-height: 1.5;
}

.button_containter{
    display: flex;
    justify-content: end;
    gap:30px;
}

.rountedBtn{
    width: 41px !important;
    height: 41px !important;
    background: #7BCC70 !important;
    border-radius: 30px;
    display: flex !important;
    justify-content: center;
    align-items: center !important;
    margin-right: 12px  !important;
}

.rountedBtn:hover{
    cursor: pointer;
    text-decoration: none;
}

.ui-datepicker-trigger{
    padding: 0px 13px !important;
    border-radius: 5px !important;
    color: 13px !important;
}