.error{color:red !important;}
.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}


.profile_update .form-group .demo-default {
    height: auto;
    border: none;
}
.pac-container:after{
content:none !important;
}

.inputsss,select{
border-radius: 20px !important;
border: 1px solid #545C84 !important;
padding: 8px 10px !important;
height: auto;
max-height: 40px;
}

.fil_upload{
padding:4.5px 10px !important;
}
@-moz-document url-prefix() {
.fil_upload {
padding:7px 10px !important;
}
}


label{
font-weight: bold !important;
color: #545C84 !important;
font-size: 15px !important;
padding-left: 7px;
}
.disc{
border-radius: 10px !important;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
padding:0px !important;
border-bottom: 7px solid #545C84;
padding-bottom: 20px !important;
}
.profle_div{
font-size: 23px;
font-weight: bold;
color: white;
background: #545C84;
border-radius: 0px 0px 100px 100px;
text-align: center;
padding:3px 0px;
overflow: hidden;
}
.selectize-input{
border-radius: 20px !important;
padding-left: 10px;
height: 62px !important;
border-color: #545C84 !important;
}
.newbtn{
width: 280px !important;
background: linear-gradient(241.07deg, #545C84 39.69%, rgba(84, 92, 132, 0.31) 71.84%) !important;
border-radius: 30px !important;
height: 46px !important;
margin-left: auto !important;
margin-right: auto !important;
margin-bottom: 5px !important;
}
#removeprofilepic:hover,#removecv:hover,#removeinsform:hover{
cursor: pointer !important;
}

.form-group{
margin-bottom: 13px !important;
}

.pr_heading{
background: #545C84;
color: white;
width: 100%;
padding: 5px 0px;
text-align: center;
border-radius: 100px 0px 100px 0px;
margin: 0px;
margin-bottom: 13px;
}

.singleProgressdesing{
	display: flex;
	flex-direction: row;
	width: 100%;
}



.range__slider {
  width: 100%;
}

.range__value { 
  text-align: right;
  padding-right: 10px;
}

.form-group {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

/* .form-group label {
  text-transform: uppercase;
  font-size: .7rem;
  color: #222;
} */

.form-group span {
  font-size: 1.3rem;
  font-weight: 600;
  color: #3c3b3b;
}


.range__slider [type="range"] {
  width: 100%;
  -webkit-appearance: none;
  height: 13px;
  border-radius: 6px;
  background: #f1f1f1;
  outline: none;
  padding: 0;
  margin: 0;
}

/* custom thumb */
.range__slider [type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #7a00ff;
  border: #f9ca24 5px solid;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-webkit-slider-thumb:hover {
  background: #f0932b;
}

.range__slider [type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #f0932b;
  border: #f9ca24 5px solid; cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-moz-range-thumb:hover {
  background: #f9ca24;
}

/* remove border */
input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}

.price_tagDesi{
  margin:0px; 
  margin-right:15px;
  font-weight: bold;
  color: #545C84;
}

.requirdInput{
  color: red;
  font-size: 12px;
}

.currencyInput{
  width:110px !important;
  border-radius: 20px !important;
  border: 1px solid #545C84 !important;
  padding: 8px 10px !important;
  height: auto;
  max-height: 40px;
  font-weight: bold;
}