.features{
    width:100% !important;
    height:95px;
    background: #FFFFFF;
    border-width: 1px 1px 5px 5px;
    border-style: solid;
    border-color: #4B587B;
    box-shadow: 10px 4px 10px -7px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    margin-top: 35px;
}

.features > h4 {
    background: linear-gradient(to right, #20215E 0%, rgba(136, 144, 185, 0.59) 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.features:hover{
    /* transform: scale(1.04);
    transform: translateY(-10px); */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.icon_container_circle:hover{
    transform: scale(1.07);
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background: linear-gradient(65.37deg, #4B587B 58.95%, rgba(39, 43, 52, 0) 113.59%, rgba(50, 71, 128, 0.22) 113.59%);
}

.icon_container_circle{
    background: #4B587B;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
}

.tagTitle{
  font-weight: bold;
  color: #4B587B;
  padding-top: 10px;
}

.textStyle{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    padding-left:10px; padding-right:10px;
}

.textStyle:hover{
    transform: skew(20);
}

.about_new_section{
    background: #FFFFFF;
    border-top: 5px solid #4B587B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

/* .about_new_section:hover{
    transform: rotate(0.2deg);
    transform: scale(1.05);
    transform: skew(10);
    transform: translateX(100);
    border-width: 3px;
    border-style: solid;
    border-image:  linear-gradient(
        to bottom, 
        #30CFD0, 
        #330867
      ) 1 100%;
      border-radius: 10px;
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
} */

/* .privacy_section:hover{
    transform: rotate(0.2deg);
    transform: scale(1.05);
    transform: skew(10);
    transform: translateX(100);
    border-width: 3px;
    border-style: solid;
    border-image:  linear-gradient(
        to bottom, 
        #30CFD0, 
        #330867
      ) 1 100%;
      border-radius: 10px;
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; 
} */

.privacy_section{
    background: #FFFFFF;
    border-top: 5px solid #4B587B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background: #FFFFFF;
border-width: 2px 0px;
border-style: solid;
border-color: #4B587B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;
}

.readMorbtn{
    padding:8px 20px;
    margin-top: 10px;
    margin: 5px auto;
    color:white;
    font-weight: bold;
    background: linear-gradient(65.37deg, #4B587B 58.95%, rgba(39, 43, 52, 0) 113.59%, rgba(50, 71, 128, 0.22) 113.59%);
    border-radius: 10px;
}

.readMorbtn:hover{
    padding:8px 20px;
    margin-top: 10px;
    margin: 5px auto;
    color:white;
    font-weight: bold;
    text-decoration:none;
    transform: scale(1.2);
    background: linear-gradient(65.37deg, #4B587B 58.95%, rgba(39, 43, 52, 0) 113.59%, rgba(50, 71, 128, 0.22) 113.59%);
    border-radius: 10px;
}

.term_and_condition{
    background: radial-gradient(126.75% 719.38% at 58.49% 39.34%, #4B587B 0%, rgba(75, 88, 123, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 100px 0px;
}

.submit_btn222{
    background: radial-gradient(126.72% 2099.35% at 50% 50%, #444D67 0%, rgba(68, 77, 103, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 1px solid #DEE3EF;
    border-radius: 30px;
    padding: 8px 50px;
    font-weight: bold;
}

.accept_all{
    background-color: #0D6EFD;
    color: white;
    border: none;
    outline: none;
    padding: 5px 15px;
    margin-top: 6px;
    border-radius: 4px;
    border:2px solid #0D6EFD;
    font-size: 15px;
}

.accept_all_outline{
    background-color: white;
    color: #0D6EFD;
    border: none;
    outline: none;
    margin-top: 6px;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 15px;
    border:2px solid #0D6EFD;
    margin-right: 10px;
}

.cookie_bottom{
    height: 150px !important;
}


.sidenav {
  width: 0;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.sideMenuContainer {
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #20215E;
  overflow-x: hidden;
  transition: 0.5s;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.fullScreencontrol{
    width: 500px;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: fixed;
    bottom: 100px;
    z-index: 2;
    min-width:100%;
}

.fullScreenSideMenu{
    width: 100%;
    height: 100vh;
    background: #ffffff99;
    position: fixed;
    z-index: 2;
    min-width:100%;
}


.btnsDesing{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap-reverse;
}


/* *********************************************************************** */
.contact_us_section{
    width: 100%;
    height: auto;
    background-color: #20215E;
    margin-bottom: -50px;
    min-height: 100px;
    padding-bottom: 60px !important;
    padding-top: 40px !important;
}

.formcontainer{
    background-color: white;
    border-radius: 13px;
    padding: 50px 40px;
}

.ndesigninput{
    background: #F1EFF2 !important;
    border: 1px solid #DEDFE2 !important;
    border-radius: 56px !important;
    height: 42px;
    font-family: DubaiRegular !important;
}

.customerLabel{
    font-family: DubaiRegular !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #8D88A3;
    margin-bottom: 0px;
    padding-left: 20px;
    margin-bottom: 2px;
}

.ndesigninputtextarea{
    background: #F1EFF2 !important;
    border: 1px solid #DEDFE2 !important;
    font-family: DubaiRegular !important;
}

.ndesigninput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #416CAB;
    font-family: DubaiRegular !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
.ndesigninputtextarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #416CAB;
    font-family: DubaiRegular !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  
.ndesigninput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #416CAB;
    font-family: DubaiRegular !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  
.ndesigninput::-ms-input-placeholder { /* Microsoft Edge */
    color: #416CAB;
    font-family: DubaiRegular !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.contactDetails{
    font-family: Fahkwang !important;
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: 80px;
    padding-right: 20px;
}

.top-banner{
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    flex-wrap: wrap-reverse;
    /* flex-grow: 1; */
}

.superTop{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.top-banner > div {
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.br-slide1 > h2{
    font-family: Fahkwang !important;
    margin: 0px;
    color:white;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 55px;
}

.topHomeContainer{
    width: 100%;
    min-height: 600px;
    max-height: 750px;
    display: flex;
    flex-direction: row;  
    overflow-x: hidden;  
}


.new_about_section > .first{
    background: #F1EFF2 !important;
    padding: 80px;
    padding-top:70px;
    padding-bottom: 70px;
    /* height: 100vh; */
}

.new_about_section > .second{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0px;
    padding-bottom: 20px;
    background-color: white;
}

.new_about_section > .second > p{
    margin-bottom: 50px;
    font-size: 1.2rem;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'EncodeSans' !important;
    color: #20215E;
    font-weight: 700;
}

.aboutsImage{
    border-radius: 20px;
    height: 350px;
    margin-left: -100px;
}

.aboutfirst-heading{
    font-size: 3.5rem;
    color: #20215E;
    font-weight: bold;
    font-family: Fahkwang !important; 
    padding-bottom: 20px;
}

.aboutContent{
    color: #76777B;
    font-weight: 400;
    font-size: 17px;
    font-family: EncodeSans  !important;
}

.aboutContent > a{
    color: #76777B;
    font-weight: 500;
    font-size: 17px;
    font-family: EncodeSans  !important;
}


.new_slider_section{
    background-color: #20215E;
}

.new_slider_section > .first > img{
    width: 100%;
    height: 500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.new_slider_section > .second{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.valueContainer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
}

.swiper-button-prev:after,.swiper-button-next:after{
	content: none !important;
}
.swiper-button-prev, .swiper-button-next{
	position: static !important;
	margin-top: 0px !important;
	margin: 0px 5px;
    width: auto !important;
}

.carouselBtn > div > a{
    background: #97A0C2;
    border-radius: 10px !important;
    width: 57px !important;
}

.carouselBtn > div > a:hover{
    background: #97A0C2;
    border-radius: 10px !important;
    width: 57px !important;
    cursor: pointer;
}

.carouselBtn{
    margin-right: 20px;
	  display: flex;
	  flex-direction: row;
}

.slide-container{
    max-width: 1120px;
    width: 134%;
    padding: 40px 0;
    margin-left: -200px !important;
}

.slide-content{
    /* margin: 0 40px; */
    overflow: hidden;
    /* border-radius: 25px; */
}

  .card{
    border-radius: 25px;
    background-color: #FFF;
    width: 250px !important;
    margin-right: 25px !important;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }

  .swiper-slide{
    border-radius: 10px !important;
  }

  .thumb-wrapper {
	padding: 10px 15px;
	background: #fff;
	border-radius: 6px;
	/* text-align: center; */
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.cardTitle{
    font-size: 1.01rem !important;
    margin: 15px 0px;
    color: #20215E;
    font-family: 'Fahkwang' !important;
    margin-bottom: 10px;
    font-weight: bold;
}

.cardSubDesc{
    font-size: .8rem !important;
    margin: 15px 0px;
    font-weight: 400;
    color: #20215E;
    font-family: 'EncodeSans' !important;
    margin-top: 0px;
    margin-bottom: 0px !important;
}

/* ==================================================== */

.footer-animation__image--1 {
   margin-left: -40px;
  -webkit-animation: rotation 4s infinite linear;
}


@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes bounce { 
    0% { transform: translateY(0) translate(-50%, -50%); }
    100% { transform: translateY(-4px) translate(-50%, -50%); }
  }

@keyframes bounce2 { 
    0% { transform: translateY(0) translateX(0) translate(-50%, -50%); }
    100% { transform: translateY(-2px) translateX(-2px) translate(-50%, -50%); }
}

@keyframes bounce3 { 
    0% { transform: translateY(0) translateX(0); }
    100% { transform: translateY(-2px) translateX(-2px); }
}
   
.bounce {
    animation: bounce 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.bounce2 {
    animation: bounce2 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.bounce3 {
    animation: bounce3 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

  .zoom-in-out-box {
    animation: zoom-in-zoom-out 3s ease infinite;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1) translate(-50%, -50%);
    }
    50% {
      transform: scale(1.05, 1.05) translate(-50%, -50%);
    }
    100% {
      transform: scale(1, 1) translate(-50%, -50%);
    }
  }

.br-slide1{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 50px;
}

.br-slide2{
   display: flex;
   justify-content: center;
   align-items: end !important;
   padding-right: 50px;
   z-index: 0;
}

.icons-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg,#04143B, #041442) !important;
  z-index: 20;
  margin-bottom:-44px;
}

.topHeaderIcon{
    width:100%;
    height: auto;
    margin-right: -60px;
}


.tp_icon_image{
    width: 100px;
    height: 100px;
}


.topIconGroup{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 12px;
   margin-bottom: -20px;
   margin-left: -40px;
}

.topIconGroup > .colum{
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.bottomRow{
    padding-right: 70px !important;
    padding-left: 40px !important;
}

.topSecondContainer{
    padding-left: 30px !important;
}

#page-2{
  background:#20215E;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-3{
  background-color: white;
}

#page-4{
  background-color: #20215E;
}

#nheadeContainer{
  padding-left: 65px !important;
  padding-right: 100px !important;
  background: transparent;
}

.st-line{
   border-bottom: 3px solid white;
   width: 100%;
}

@media only screen and (max-width: 910px) {
  #nheadeContainer{
    padding-left: 50px !important;
    padding-right: 80px !important;
    background: transparent;
  }

  .new_slider_section > .second{
     padding-top: 10px;
     padding-bottom: 40px;
  }
}

@media only screen and (max-width: 700px) {

  .formcontainer{
    padding: 30px 20px;
}

  .aboutfirst-heading{
    font-size: 3rem;
    color: #20215E;
    font-weight: bold;
    font-family: Fahkwang !important; 
    padding-bottom: 0px;
    width: 80%;
 }

    .topSecondContainer{
        padding-left: 0px !important;
    }

    .bottomRow{
        padding-right: 30px !important;
        padding-left: 30px !important;
    }

    .topIconGroup{
        margin-bottom: 0px;
        margin-left: 0px; 
    }

    .tp_icon_image{
       width: 75px;
       height: 75px;
    }

    .br-slide2{
        padding-bottom: 0px;
    }


    .slide-container{
      width: auto;
      margin-left: 20px !important;
    }
    /* .valueContainer{
        display: none;
    } */
    .card-wrapper{
        padding-top: 40px;
    }
    .valueContainer > .aboutfirst-heading{
        font-size: 2rem;
        padding-left: 20px;
    }
    .valueContainer{
        margin-top: 30px;
    }
    .new_slider_section > .first > img{
        width: 100%;
        height: 250px;
    }
    .aboutsImage{
        width: 100%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .new_about_section > .second > p {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .new_about_section > .first{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 0px;
    }

    .top-banner > div {
        width: 100%;
     }

     .br-slide1 > h2 {
        font-size: 3.2rem;
        text-align: center;
        font-family: Fahkwang !important;
    }

    .contactDetails{
        font-size: 30px;
        line-height: 40px;
        padding-right: 0px;
        line-height: 50px;
    }

    .contact_us_section {
        padding-top: 0px !important;
    }
}

@media only screen and (max-width: 500px) {


  #nheadeContainer{
    padding-left: 30px !important;
    padding-right: 50px !important;
    background: transparent;
  }

  .tp_icon_image{
    width: 70px;
    height: 70px;
 }

    .bottomRow{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .topHomeContainer{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: row;
    }

     .br-slide1 > h2 {
        font-size: 2.3rem;
        text-align: center;
        font-family: Fahkwang !important;
    }

    .contactDetails{
        font-size: 22px;
        line-height: 40px;
        padding: 15px;
        line-height: 50px;
        padding-top: 30px;
    }
}



@media only screen and (max-width: 450px) {
  .cookie_bottom{
      height: 310px !important;
  }
  .br-slide1{
    padding-left: 0px;
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: 340px) {
  #nheadeContainer{
    padding-left: 15px !important;
    padding-right: 30px !important;
    background: transparent;
  }
}



html {
    scroll-behavior: smooth;
}


/* Buttom Bubble Animation Start */
  .wrapper11 {
    height: 100%;
    width: 95%;
    position: absolute;
    opacity: 0.4;
  }

  .wrapper11 div {
    height: 60px;
    width: 60px;
    border: 2px solid #526082;
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
  }
  div .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: #526082; 
    position: absolute;
    top: 20%;
    right: 20%;
  }
  .wrapper11 div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper11 div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
  }
  .wrapper11 div:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
  }
  .wrapper11 div:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
  }
  .wrapper11 div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
  }
  .wrapper11 div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
  }
  .wrapper11 div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper11 div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  .wrapper11 div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
  }
  .wrapper11 div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
  }
  .wrapper11 div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
  }
  .wrapper11 div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
  }
  .wrapper11 div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper11 div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
  }
  .wrapper11 div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(70deg);
    }
    100% {
      transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
}
/* Buttom Bubble Animation Start */
  

/* .formcontainer {
    transform: scale3d(1,1,1);
    transition: transform 1s ease;
    animation: slideIn 1.5s ease; 
} */

.aboutsImage:hover {
    transform: scale3d(1.03,1.03,1);
	transition: transform 1s ease-in-out;
}


.slideImagess {
    animation: slideUp 1.5s ease-in-out 
}

.slideImagess:hover {
    transform: scale3d(1.03,1.03,1);
	transition: transform 1s ease-in-out;
}


@keyframes slideIn {
    0% {
       transform: translateX(500px) scale(.2);
    }
    100% {
       transform: translateX(0px) scale(1);
    }
}




