.hex-first-container{
    display: flex;
    justify-content: center;
    margin-bottom: -42px;
}
.hex-second-container{
    display: flex;
    justify-content: center;
    margin-bottom: -42px;
}
.hex-third-container{
    display: flex;
    justify-content: center;
    /* z-index: 100; */
    /* margin-bottom: -43px; */
}

.daimondImg{
    width:140px;
    margin-right: -3px;
}

.centerImage{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 75px;
}

@media only screen and (max-width: 1070px) {
.br-slide1 > h2 {
    font-size: 3.3rem;
}
.daimondImg{
    width:120px;
}
.centerImage{
    width: 65px;
}
.hex-second-container{
    margin-bottom: -36px;
}
.hex-first-container{
    margin-bottom: -36px;
}
.hex-third-container{
    margin-bottom: -36px;
}
}

@media only screen and (max-width: 850px) {
.br-slide1 > h2 {
    font-size: 3.0rem;
}
.daimondImg{
    width:110px;
}
.centerImage{
    width: 55px;
}
.hex-second-container{
    margin-bottom: -36px;
}
.hex-first-container{
    margin-bottom: -36px;
}
.hex-third-container{
    margin-bottom: -40px;
}
}

@media only screen and (max-width: 720px) {
.br-slide1 > h2 {
    font-size: 2.5rem;
}
.daimondImg{
    width:95px;
}
.centerImage{
    width: 42px;
}
.hex-second-container{
    margin-bottom: -30px;
}
.hex-first-container{
    margin-bottom: -30px;
}
.hex-third-container{
    margin-bottom: -45px;
}
}

@media only screen and (max-width: 700px) {
.br-slide2{
    padding: 0;
    justify-content: center !important;
    align-items: center !important;
}
.br-slide1 > h2 {
    font-size: 2.5rem;
}
.daimondImg{
    width:110px;
}
.centerImage{
    width: 65px;
}
.hex-second-container{
    margin-bottom: -36px;
}
.hex-first-container{
    margin-bottom: -36px;
}
.hex-third-container{
    margin-bottom: 20px;
}
.br-slide1 > h2{
    margin:0px !important;
}
.st-line{
    height: 0px;
    border: none
}
.icons-container{
    background: inherit !important;
    margin-bottom: 0px;
}
}

@media only screen and (max-width: 450px) {
.br-slide2{
    padding: 0;
    justify-content: center !important;
    align-items: center !important;
}
.br-slide1 > h2 {
    font-size: 2.5rem;
}
.daimondImg{
    width:95px;
}
.centerImage{
    width: 50px;
}
.hex-second-container{
    margin-bottom: -30px;
}
.hex-first-container{
    margin-bottom: -30px;
}
.hex-third-container{
    margin-bottom: 20px;
}
.br-slide1 > h2{
    margin:0px !important;
    font-size: 2.2rem;
}
.st-line{
    height: 0px;
    border: none
}
.icons-container{
    background: inherit !important;
    margin-bottom: 0px;
}
}



@media screen and (max-height: 824px) {
    .st-line{
      
    }
}

@media only screen and (max-width: 1070px) and (min-width: 700px) {
    .icons-container{
       margin-bottom: -7px;
    }
}