.error{color:red !important;}
.upload_doc_btn {
     margin-bottom: 0px; 
}
.patient_details_box ul li{
	margin-bottom: 0px; 
}
.last_li{
	border: none !important;
    background: none !important;
    padding: 10px 0px !important;
}


.error{color:red !important;}
input.checkBoxClass {
    margin-right: 7px;
}
.docter_list p:hover{background: linear-gradient(
90deg
, #5a8627 0%, #7aac2d 100%);}
.acceptscss p:hover{background:none;}
.rjtscss p:hover{background:none;}

.inv-content-header {
    border-bottom-right-radius: 20px;
    font-size: 24px !important;
    background: transparent !important;
    font-weight: 700;
    color: #526082 !important;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
}

.inv-content-header::before,
.inv-content-header::after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
}

.invitation-tabs{
	min-height: 450px;
}
.act_btn{
    padding: 3px 20px;
    border-radius: 30px;
    border: 1px solid #526082;
    color: #526082;
    font-weight: bold;
    background: white;
}

.tabsss{
	border-radius: 50px !important;
}

#myTab > li{
	background: white !important;
}

.act_btn:hover{
    color:white;
    border:none;
    background: linear-gradient(229.2deg, #526082 26.84%, rgba(71, 90, 160, 0.51) 84.96%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: normal;
}
.invitation-tabs .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom:0;
    border-right: 1px solid #ddd;
    padding-right: 15px;
}
.invitation-tabs .nav-tabs .nav-link {
    background: #526082;
	color:#fff;
}
.invitation-tabs .nav-tabs .nav-item {
	width: 220px;
	margin-bottom: 2px;
}
.invitation-tabs .tab-content>.active {
    display: block;
	font-weight: 600;
    min-height: 165px;
}

.tabsss.active{
	border-color: #ffffff #ffffff #ffffff #00518b;
    background-color: white !important;
    border: 2px solid #0e2f44 !important;
    border-left-width: 10px !important;
}

.invitation-tabs .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 15px;
}
hr{
	height: 1px;
    background: #00518b;
}
.invitation-tabs {
    min-height: 310px;
}
.patient_details_box .invitation-tabs ul li{
	padding: 0px;
	border: none;
}
#billamt-error{
	position: absolute;
    top: 88%;
}
.virtualbold b{
	font-size: 16px;
    color: #0e3358;
    font-weight: 600;
}
.animationsssss{
position: absolute;
width: 100%;
height: 100%;
background: #0009;
z-index: 1000;
top: 0;
bottom: 0;
overflow-y: hidden;
display: flex;
justify-content: center;
}
.btn-container11{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300;
}


#nav-tab{
    background: #FFFFFF;
    box-shadow: 0px 4px 17px rgba(32, 33, 94, 0.12);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    min-height: 65px;
}

#nav-tab > .active{
    border: none;
    background: rgba(32, 33, 94, 0.08);
    border-radius: 20px;
    font-size: 18px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    padding: 0px 25px;
}






#nav-tab > a{
    height: 60px;
    line-height: 58px;
    text-align: center;
    padding: 0px;
}

.singlep_container{
    margin-top: 10px;
}

.singlep_container > p{
    color: #5E6366; 
    font-size: 16px;
    margin: 0;
    margin-bottom: 8;
    padding-left: 5px;
    font-family: Inter !important;
}

.singlep_container > .p-data{
    color: #20215E; 
    background: rgba(32, 33, 94, 0.04);
    border-radius: 15px;
    padding: 15px 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    /* display: inline-block; */
    /* min-width: 350px; */
    font-family: Inter !important;
}

@media only screen and (max-width: 700px) {
    .singlep_container > .p-data{

    }
}

.nameContainerSection{
    margin-bottom: 25px;
}

.nameContainerSection > p{
    text-transform: capitalize;
    color: #20215E;
    font-family: Inter !important;
    font-size: 28px;
    font-weight: 500;
    margin: 0px 10px;
}

.intro_banner_sec {
    background: #20215E !important;
    padding: 12px !important;
}

.statusSection{
    min-height: 360px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}