/* Website desing */
/* DubaiBold */
/* DubaiRegular */
/* DubaiMedium */
/* DubaiLight */
/* Fahkwang */
/* EncodeSans */

.n_wraper-container{
    display: flex;
    flex-direction: column;
}

.inforp:hover{
  cursor: pointer;
}

.n-top-container{
    flex: 1;
}

.banner-childs p{
    font-size: 2.5rem;
    color: white;
    line-height: initial;
    font-weight: bold;
}

.n-bottom-container{
    position: relative;
}

.n_footer{
    background: #515C84;
    height: 60px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nf_letfContainer * {
    color: white !important;
    font-family: DubaiLight !important;
    font-size: 16px;
}

.nf_letfContainer{
    display: flex;
    justify-content: end;
}

.nf_letfContainer > a:hover{
    color: white !important;
    text-decoration: none;
}

.nf_letfContainer > span {
    margin-left: 7px;
    margin-right: 7px;
}

.n_footer > div > div > p{
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    font-family: DubaiRegular !important;
}

.tp_footer{
    height: 300px;
    background-color: #20215E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bfirst > p{
    color: white;
    margin-top: 40px;
    line-height: 136%;
    font-size: 20px;
    padding-right: 15px;
    font-family: DubaiLight !important;
}

.bsecond{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 0px;
}

.bsecond > h5{
    width: 130px;
    border-left: 4px solid #AE914C;
    padding-left: 15px;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px !important;
    font-family: DubaiBold !important;
    margin-bottom: 15px;
}

.bthird{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
}

.bthird > p{
    color: white;
    font-size: 16px;
}

.bthird > p{
    font-size: 20px;
    font-family: DubaiLight !important;
}

.bthird > div{
    gap: 15px;
    display: flex;
}

.socialMedicIcon > img{
  width: 24px;
}

@media only screen and (max-width: 700px) {
  .bsecond{
    align-items: self-start;
    padding-top: 20px;
  }

  .bsecond > h5{
    margin-bottom: 25px;
  }

  .bthird{
    align-items: self-start;
    padding-top: 20px;
   }

   .socialMedicIcon > img{
    width: 18px;
  }
}

.contactContainer{
    padding: 10px 0px;
    gap: 20px;
    justify-content: flex-end;
    display: flex !important;
    background-color: transparent;
}

.contactContainer > .inforp {
    margin-bottom: 0px;
    font-size: 16px;
    color: white;
    font-family: DubaiRegular !important;
}

.contactContainer > .dashhold {
    width: 2.5px;
    background: white;
    border-bottom: 50px;
    margin-bottom: 0px;
    border-radius: 100px !important;
    margin-top: 3px;
    margin-bottom: 3px;
}

.contactContainer > p > span {
    color: white;
    font-size:18px;
    vertical-align: sub;
}

.flexsideMenue{
    display: flex !important;
    gap: 30px;
}

.flexsideMenue > a > span{
    font-family: DubaiMedium;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.flexsideMenue > a:hover{
   text-decoration: none;
}


.btn-group 
{
    padding-left: 20px !important;
}

.btn-group > button{
    background-color: white;
    color:#20215E;
    border: none;
    font-size: 18px;
    font-family: DubaiRegular !important;
    font-weight: 400;
    text-align: center;
}

.btn-group > button:hover{
    background-color: #515C84;
    color:white;
}

.topiconlogo{
    height: auto !important;
}

.nav-container{
    padding-top: 0px;
}

.linkcolors {
  color:#20215E !important;
}

.dropdown-toggle::after{
  border-top: 0.5em solid white !important;
}

/* Mobile design */

@media only screen and (max-width: 910px) {
  .flexsideMenue{
    display: none !important;
  }

  .cls-open-mobile-menu{
    display: flex !important;
    align-items: center;
   }

   .contactContainer{
    display: none !important;
  }
}

@media only screen and (max-width: 700px) {

    .banner-childs p{
        font-size: 1.5rem;
    }

    .nav-container
    {
       padding-top: 15px;
    }

    .n_footer > div > div > p{
       text-align: center;
    }

    .nf_letfContainer{
        color: white !important;
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    .n_footer{
        height: 75px;
        padding: 10px 0px;
    }

    .tp_footer{
        height: auto;
        margin-bottom: 40px;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .tp_footer > div {
        width: 100%;
    }

    .bfirst > p{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bsecond > h5 {
      margin-bottom: 20px;
    }

    .topiconlogo{
        height: 50px !important;
    }

}



/* New menu */
    .cls-open-mobile-menu{
        display: none;
    }
  .cls-open-mobile-menu:hover{
    cursor: pointer;
  }

  .menubuttonclosebtn{
    display: flex;
    width: 100%;
    justify-content: end;
    padding-right: 20px;
    padding-top: 15px;
  }

  .menubuttonclosebtn > button{
    border: none;
    outline: none;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }

  .phone11 {
   }

  .image {
    position: absolute;
  }
  .menu11 {
    align-items: center;
    background-color: #303235;
    clip-path: polygon(81.05% 9.1%, 92% 9.1%, 92% 10.1%, 81.05% 10.1%);
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 28px;
    height: 0px;
    position: absolute;
    z-index: 10000000;
    top: 0;
    transition: clip-path 400ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 0px;
  }
  .active .menu11 {
    background-color: #20215E;
    clip-path: polygon(101% -1%, 101% 101%, -1% 101%, -1% -1%);
  }

  .options {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    transform: scale(0.8);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    color: white !important;
  }

  a.option:hover{
    color: white;
    text-decoration: none;
  }

  .option {
    cursor: pointer;
    margin: 8px 0;
    color:white;
    text-decoration: none;
    font-family: DubaiMedium;
  }

  .option.selected {
    color: #515C84;
  }
  .active .options {
    transform: scale(1);
  }
  .x {
    pointer-events: none;
    position: absolute;
    top: 0;
  }
  .top-bars {
    stroke: #303235;
    transition: stroke 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active .top-bars {
    stroke: #f2f2f2;
  }
  .bar {
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .bar1 {
    transform-origin: 190px 20.5px;
  }
  .bar2 {
    transform-origin: 190px 28.5px;
  }
  .active .bar1 {
    transform: translateY(8.6px) rotate(45deg);
  }
  .active .bar2 {
    transform: rotate(-45deg);
  }
  .menu-click-area {
    cursor: pointer;
    height: 40px;
    opacity: 0.3;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
  }

  .zoom_btn{
    background: #515C84 !important;
    height: 35px;
    width: 40px;
  }



 