.error{color:red !important;}
	hr{height: 1px;
		background: #00518b;
	}

    .accordion1 .card-header1:after {
		font-family: 'FontAwesome';  
		content: "\f106";
		font-size: 32px !important;
		font-weight: 600;
		color: #526082 !important;
		cursor: pointer;	
		float: right;
		margin-top: -56px;
		margin-right: 16px; 
	}
	.accordion1 .card-header1.collapsed:after {
		/* symbol for "collapsed" panels */
		content: "\f107"; 		
		cursor: pointer;
		font-size: 32px !important;
		font-weight: 600;
		color: #526082 !important;
		float: right;
		margin-top: -56px;
	}
	.files-alert-msg{		
		color: #eca606;
    font-size: 18px;
    font-weight: 600;

	}
	.accordion1 .card-body {    
		padding: 0;
	}
	.dashboard_sec{
		min-height: 450px;
}

.manualboxdesi > button{
   background-color: #75A157;
   width: 76px;
   height: 48px;
   color: white;
   font-size: 17px;
   border: none;
   border-radius: 6px;
}

.manualboxdesi{
    justify-content: center;
    display: flex;
    gap: 30px;
    padding: 21px 0px;
}

.error{color:red !important;}
input.checkBoxClass {
    margin-right: 7px;
}
.docter_list p:hover{background: linear-gradient(90deg, #5a8627 0%, #7aac2d 100%);}
.acceptscss p:hover{background:none;}
.rjtscss p:hover{background:none;}

.inv-content-header {
    border-bottom-right-radius: 20px;
    font-size: 24px !important;
    background: transparent !important;
    font-weight: 700;
    color: #526082 !important;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
}

.inv-content-header::before,
.inv-content-header::after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
}

.invitation-tabs{
	min-height: 280px;
	margin-top: 20px;
}
.invitation-tabs .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 0px;
    border-bottom:0;
    border-right: 1px solid #ddd;
    padding-right: 0px;
    /*width: 100%;*/
}
.accordion .patient_details_box .invitation-tabs .nav-item a{
	padding: 0.3rem 0rem;
    text-align: center;
    font-size: 16px;
}
.invitation-tabs .nav-tabs .nav-link {
    background: #526082;
	color:#ffffff;
}
.invitation-tabs .nav-tabs .nav-item {
	width: 175px;
	margin-bottom: 2px;
	/*display: inline-block;*/
}
.invitation-tabs .tab-content>.active {
    display: block;
	font-weight: 600;
    min-height: 165px;
}
.invitation-tabs .nav.nav-tabs {
    /*float: none;*/
    display: block;
    margin-right: 0px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 0px;
}
hr{
	height: 1px;
    background: #00518b;
}
/*.invitation-tabs {
    min-height: auto;
}*/
.patient_details_box .invitation-tabs ul li{
	padding: 0px;
	border: none;
}
.category{
	font-size: 16px;
}
.calendar_icon {
    width: 22px;
    left: 3px;
    top: -2px;
}
.patient_details_box .new_p{
	font-size: 16px;
	margin: 0px;
	font-weight: 600;
}
.patient_details_box .new_p span{
	color: #004277;
}
.top_row{
	background: #fbfafa;
    padding: 10px 0px;
    margin: 0px;
    border: 1px solid #f5f5f5;
    border-radius: 2px;
}
.invitation-tabs .nav-tabs .nav-link.active{
	border-color: #ffffff #ffffff #ffffff #00518b;
    background-color: white;
    border: 2px solid #0e2f44;
    border-left-width: 10px;
}
#myTab > li{
    background: white !important;
}
.disable_btn{
	background: #9e9e9e;
    color: #ffffff; 
    padding: 1px 10px;
    border-radius: 4px;
    padding: 0.375rem 0.75rem;
    line-height: 28px;
    margin: 4px 8px 0px 0px;
    height: 38px;
}

.virtualbold b{
	font-size: 16px;
    color: #0e3358;
    font-weight: 600;
}
#hideshow{
	padding: 7px 20px;
    display: inline-block;
    background: #5a8627;
    color: #fff;
    border-radius: 0.25rem;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    min-width: 175px;
    text-align: center;
}
#hideshow:hover{
	background: #005089;
}
/*.invitation-tabs{
	display: none;
}*/
.hide-span{
	display: none;
}
.highlight .hide-span{
	display: block;
}
.highlight .show-span{
	display: none;
}

.dropdown-docters-list::after {
    display: inline-block;
    margin-left: 0.4em;
    vertical-align: 0.1em;
    content: "";
    border-bottom: 0;
    border-top: 0.42em solid #526082;
    border-right: 0.42em solid transparent;
    border-left: 0.42em solid transparent;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 170px;
  top: 55px;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px;
}
.dropdown-content a:hover {
  background-color: #efeeee;
}
.show {
  display: block;
}
.tabcontent {
  display: none;
  border-top: none;
  position: relative;
}
.tab{
	border-bottom: none;
    margin-bottom: 25px;
    position: relative;
}
.tab .tablinks{
	font-size: 18px;
    border: 4px solid transparent;
    padding: 0.5rem 1rem;
    background: transparent;
    color: #00528C;
}
.tab .tablinks.active{
	color: #00396B;
    background-color: #ffffff;
    border-color: #ffffff #ffffff #00396b;
}
.edit_delete{
	position: absolute;
	margin-top: -50px;
	right:15px;
}

@media (max-width: 768px){
	.patient_details_box .col-md-6.text-right{
		text-align: left !important;
		margin-top: 10px;
	}
}

@media (max-width: 680px){
	.status_design{
        display: none !important;
    }
    .tsfs{
        display: table-row !important;
    }
}

@media (max-width: 993px){
	.edit_delete{
		position: relative;
	    margin-top: 20px;
	    right: 0px;
	    margin-bottom: 15px;
	    left: 15px;
	}
}

#content11{
    display: flex;
    padding-left: 20px;
    justify-content: center;
}

.timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 1px;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 50%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
}

.title_font_size{
    font-size: 2rem !important;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    font-weight: bold;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

.act_btn{
    padding: 3px 20px;
    border-radius: 30px;
    border: 1px solid #526082;
    color: #526082;
    font-weight: bold;
    background: white;
}

.act_btn:hover{
    color:white;
    border:none;
    background: linear-gradient(229.2deg, #20215E 26.84%, rgba(71, 90, 160, 0.51) 84.96%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: normal;
}

.new_appoinmentCont{
   margin-bottom: 15px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   border-radius: 5px;
   border-left: 4px solid #323B62;
}

.new_design_header{
    display: flex;
    padding-left: 15px;
}

.new_appoinmentCont:hover{
    background-color: #F5FFE5;
    cursor: pointer;
}

.yes_btn{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #50C878;
    text-align: center;
    line-height: 5px;
}

.yes_btn:hover{
    cursor: pointer;
}

.tisldfdf{
    display: block !important;
    z-index: 1000000;
    background: #515C84;
    padding: 3px 30px;
    border-bottom-right-radius: 30px;
    color: white !important;
}


#adss_ads{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-color: #fafafa;
    height: 45px;
    width: 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
    background-position: 100%;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 0;
    background-color: white;
    border: 1px solid #515C84 !important;
    height: 40px !important;
    border-radius: 20px !important;
    }

.n_header_img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 12px 0px;
}

.n_header_content{
  padding-left: 20px;
  flex: 1;
  margin-top: 13px;
}

.status_design{
    min-width: 207px;
    height: 39px;
    background-color: #323B62;
    border-radius: 0px 0px 0px 10px;
    color: white;
    text-align: center;
    line-height: 39px;
    font-size: 15px;
}

.doctorName{
    font-weight: bold;
    color: #323B62;
    font-size: 20px;
    margin-bottom: 0px;
}

.nor_text_p{
    font-weight: normal;
    margin-bottom: 0px !important;
    font-size: 15px !important;
    color:#000;
    margin-top: 1px;
}

.body_new_details{
   padding-left: 15px;
   padding-bottom: 12px;
}

.doctocr_pr_detail  td{
   padding-left: 15px;
   font-family: 'Montserrat', sans-serif !important;
}

.doctocr_pr_detail  th{
    color: #323B62;
    font-family: 'Roboto', sans-serif !important;
 }

 .tsfs{
    display: none;
}

.btnss{
    background: #004277;
    height: 40px;
    color: white;
    margin: 10px;
    padding: 8px 12px;
    border-radius: 10px;
}


.trac_container{
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}

#traceability_id{
    color: #468499;
    border: 1px solid #468499;
    padding: 6px 18px;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
}

#traceability_id:hover{
    text-decoration: none;
    background-color: #468499;
    color: white;
    cursor: pointer;
}

.view:hover{
    cursor: pointer;
}


  div.stars {
    width: 270px;
    display: inline-block;
  }
  
   .mt-200{
       margin-top:200px;  
   }
  
  input.star { display: none; }

  label.star {
    float: right;
    padding: 10px;
    font-size: 32px;
    color: #323B62;
    transition: all .2s;
  }
  
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
  
  input.star-5:checked ~ label.star:before {
    color: #FD4;
  }
  
input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { 
    transform: rotate(-15deg) scale(1.3);
    cursor: pointer;
}
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }


.tab_design{
    font-family: "Titillium Web", sans-serif !important;
    margin-bottom: 3px !important;
    border-radius: 100px !important;
}


/* ||||||||||||||||||||||||||||||||||  New Tracking Design |||||||||||||||||||||||||||||||||||||| */
.trackingContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.trackingContainer > .s_section{
   width: 12.4%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

 :root{
    --shpwidth:100%;
    --shpheight:40px;
 }

 .tooltip-top-1 {
    --size: 50px;
    --padding: 10px;
    position: relative;
    width: var(--shpwidth);
    height: var(--shpheight);
    background: #C1CDE3;
    padding: var(--padding);
  }
  
  .tooltip-top-1::after  {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #C1CDE3;
    height: 16px;
    width: 16px;
  }

 .tooltip-top-2 {
    --size: 50px;
    --padding: 10px;
    position: relative;
    width: var(--shpwidth);
    height: var(--shpheight);
    background: #E2767A;
    padding: var(--padding);
  }
  
  .tooltip-top-2::after  {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #E2767A;
    height: 16px;
    width: 16px;
  }

  .tooltip-top-3 {
    --size: 50px;
    --padding: 10px;
    position: relative;
    width: var(--shpwidth);
    height: var(--shpheight);
    background: #97A0C2;
    padding: var(--padding);
  }
  
  .tooltip-top-3::after  {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #97A0C2;
    height: 16px;
    width: 16px;
  }

  .tooltip-top-4 {
    --size: 50px;
    --padding: 10px;
    position: relative;
    width: var(--shpwidth);
    height: var(--shpheight);
    background: #9BCF5D;
    padding: var(--padding);
  }
  
  .tooltip-top-4::after  {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #9BCF5D;
    height: 16px;
    width: 16px;
  }





  .tooltip-bottom-1 {
    --size: 50px;
    --padding: 10px;
    position: relative;
    width: var(--shpwidth);
    height: var(--shpheight);
    background: #3D5AF1;
    padding: var(--padding);
  }
  
  .tooltip-bottom-1:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #3D5AF1;
    height: 16px;
    width: 16px;
  }

  .tooltip-bottom-2 {
    --size: 50px;
    --padding: 10px;
    position: relative;
    width: var(--shpwidth);
    height: var(--shpheight);
    background: #8DD0C0;
    padding: var(--padding);
  }
  
  .tooltip-bottom-2:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #8DD0C0;
    height: 16px;
    width: 16px;
  }

  .tooltip-bottom-3 {
    --size: 50px;
    --padding: 10px;
    position: relative;
    width: var(--shpwidth);
    height: var(--shpheight);
    background:#5D9FFF;
    padding: var(--padding);
  }
  
  .tooltip-bottom-3:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #5D9FFF;
    height: 16px;
    width: 16px;
  }

  .tooltip-bottom-4 {
    --size: 50px;
    --padding: 10px;
    position: relative;
    width: var(--shpwidth);
    height: var(--shpheight);
    background:#BB5A77;
    padding: var(--padding);
  }
  
  .tooltip-bottom-4:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #BB5A77;
    height: 16px;
    width: 16px;
  }


  .s_section > .circles{
    width: 80px;
    height: 80px;
    background-color: orange;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .s_section > .circles > h1 {
    color: white;
    margin: 0px;
    font-family: LoraBold !important;
  }

  .st-line{
    width: 2.5px;
    height: 55px;
    background-color: red;
    margin: 11px 0px;
  }

  .s_section > h4{
    text-align: center;
    font-size: 1.1rem;
    font-family: LoraBold !important;
  }

  .s_section > p{
    text-align: center;
    font-size: 14px;
    color: #888888;
    font-family: LoraRegular !important;
  }

  .dateP{
    font-size: 15px;
    font-weight: 700;
    font-family: LoraRegular !important;
  }

  @media only screen and (max-width: 400px) {
    :root{
        --shpwidth:100%;
        --shpheight:20px;
     }

     .dateP{
        font-size: 12px;
        font-weight: 700;
      }

    .s_section > .circles{
        width: 30px;
        height: 30px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
      }

      .s_section > .circles > h1{
        font-size: 15px;
      }

      .s_section > h4{
        text-align: center;
        font-size: 11px;
      }
    
      .s_section > p{
        text-align: center;
        font-size: 8px;
        color: #888888;
      }

  }


  @media only screen and (max-width: 720px) {
    :root{
        --shpwidth:100%;
        --shpheight:35px;
     }

     .dateP{
        font-size: 14px;
        font-weight: 700;
      }

    .s_section > .circles{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        display: flex;
      }

      .s_section > .circles > h1{
        font-size: 22px;
      }

      .s_section > h4{
        text-align: center;
        font-size: 14px;
      }
    
      .s_section > p{
        text-align: center;
        font-size: 11px;
        color: #888888;
      }

  }

  .chnddddd{
    background: none !important;
    box-shadow: none !important;
    min-width: auto !important;
    width: 44px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #20215E;
    padding: 6px 8px;
  }

  .chnddddd:hover{
    outline: 1px solid #468499;
    }

  .patient_edit_box{
    display: flex;
    justify-content: end;
  }