.subsciption_heading{
    color:#20215E;
    font-family: DubaiBold !important;
}

.subsciption_heading > h5{
    font-weight: 500;
}

.sub_card{
    width: 100%;
    background: #FFFFFF;
    border-radius: 25px;
}

.sub_card > .header > h1{
    font-family: DubaiBold !important;
}

.subcontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(32, 33, 94, 0.78);
}

.price_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.price_container > h5{
    font-family: DubaiBold !important;
    font-size: 1.6rem;
    font-weight: 600;
}

.price_container > h1{
    font-family: DubaiBold !important;
}

.price_container > h6{
    font-family: Montserrat !important;
    font-size: 17px;
    color: #707070;
}

.btn_container {
    display: flex;
    justify-content: center;
    padding:20px 0px;
}

.btn_container > button{
    width: 70%;
    border: none;
    background: #20215E;
    color: white;
    padding: 8px;
    border-radius: 35px;
    font-family: 'DubaiMedium' !important;
    font-size: 18px;
}

.sub_card:hover{
   transform: scale(1.01) translateY(2px);
}

.pg_detail_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pg_detail_container > .s_point{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.pg_detail_container > .s_point > p{
    font-family: Montserrat !important;
    color: #000;
    font-weight: 500;
    font-size: 13px;
}

.mainBoxContainer{
    display: flex;
    justify-content: center;
    gap:60px;
}

.mainBoxContainer > .sub_card {
    width: 29%;
}

@media screen and (max-width: 600px) {
  .mainBoxContainer > .sub_card {
    width: 95%;
  }

  .mainBoxContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:60px;
   }

}

@media screen and (min-width:601px) and (max-width: 1000px) {
    .mainBoxContainer > .sub_card {
        width: 40%;
    }
}

@media screen and (min-width:1001px) and (max-width: 1150px) {
    .mainBoxContainer > .sub_card {
        width: 39%;
    }
}