.day.assessment-date {
    background: #ffe597;
}
/*  yellow color dot */
.type-holiday {
    display: none;
}

.error{color:red !important;}

/*tr.calendar-body .calendar-day .day.past-day, tr.calendar-body .calendar-day .day.block-date{

    color:#ccc;

}*/
span.circle.circle-blocked {
        background: #fcc6c6;
    }
.day.past-day {
    color: #ccc !important;
}
.day.block-date {
    color: #BC0B0B !important;
    background: #FAE0E0 !important;
}

.calendar-inner .circle{

width: 20px;

height: 20px;

background: #ff7575;

vertical-align:middle;

border-radius: 10px;

margin-left: 10px;

margin-right: 5px;

display: inline-block;

}

.calendar-note p{

margin-bottom: 0;

}

.block-circle{

margin-left: 10px;

color: red;

font-weight: 600;

font-size: 18px;

margin-right: 3px;



}
/*block date B symbol */
.day.block-date span{

position: absolute;

font-size: 15px;

color: #ccc;

font-weight: 600;

display:none;

}

#a

.calendar-inner .circle.circle-red{

background: #ff7575;

}

.calendar-inner .circle.circle-yello{

background-color: #fcde82;

}

.yes_btn{
    width: 76px;
    height: 46px;
    border-radius: 6px;
    border: none;
    background-color: #75A157;
    color: white;
    text-align: center;
    line-height: 5px;
    font-size: 17px;
}

.yes_btn:hover{
    cursor: pointer;
}

.nclose{
    text-align: center !important;
    line-height: normal !important;
    width: 33px !important;
    height: 33px !important;
    background: #526082 !important;
    border-radius: 20px !important;
    text-align: center !important;
}

.login_box{
    border-radius: 5px !important;
}

.login_box::before{
    content: normal !important;
}

.login_box::after{
    content: normal !important;
}

.ntexte{
    text-align: center !important;
    font-size: 19px !important;
    font-weight: bold !important;
    color: #25282B !important;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.ttttt{
    color: #25282B;
    display: inline-block;
    width: 170px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.norttttt{
    font-size: 15px;
    font-weight: 600;
    color: #52575C;
    margin-left: 10px !important;
}

.box11221{
    width: 480px;
}

@media screen and (max-width: 580px) {
    .box11221{
        width: 90%;
    }
}